[2012-12-28 06:02] fishkingsin opened #1 "detect video need to loop in python?"
Hi
I would like to ask,
How to loop the video in omxplayer with python
thanks

[2012-12-29 17:44] #1 closed, assigned to nobody

[2013-02-28 10:31] jacobrosenthal opened #2 "readme.md link for pexpect is broken"
File, at least on my mirror? fails check as a tar file.

Had to find this link
http://downloads.sourceforge.net/project/pexpect/pexpect/Release%202.3/pexpect-2.3.tar.gz which worked fine

[2014-05-01 22:01] osowiecki opened #3 "Stop playback at the end of the playlist."
Have you considered implementing such feature?
I need to playback some videos only once.
Thank you for your effort.

[2014-05-12 08:23] LorenzoRogai opened #4 "Cpu usage increase over time"
Hi i noticed while playing videos the tboplayer.py process starts taking more and more cpu over time
If i stop the video it returns to 0-1%
![tboplayer1](https://cloud.githubusercontent.com/assets/1665768/2942022/9e54c0fc-d9ae-11e3-8c29-b9d5e24a635d.PNG)

After 20 minutes

![tboplayer2](https://cloud.githubusercontent.com/assets/1665768/2942023/9e591120-d9ae-11e3-8bcf-0fd4fafa80b4.PNG)

Any soluti

[2014-11-24 02:09] Ian1955 opened #5 "install issue on R.pi B+"
Hi, installed tboplayer using workflow for player.
Run command: python tboplayer.py
Get error msg: can't find '__main__' module in 'tboplayer.py'

[2014-12-27 22:47] Titowam opened #6 "Not playing audio when linked to application"
So think of it like this:
You have a text document that you want to read, so you double click it and it opens some sort of word prcessor and the file loads.

Thats what I want, so I made a command that loads up the GUI and opens the file, like this:
/usr/bin/python /home/pi/bin/tboplayer.py "%f"
The problem is that it doesnt do the %f part, it only loads up the GUI.

Is there a way to make this wo

[2015-04-14 17:33] rockman55 opened #7 "Issue with sound"
I have a usb sound thumb drive and I can play sounds on it with the terminal oxyplayer, but I only get sound through my hdmi with your GUI app. Tried to change settings to HDMI and plug in the external speaker from the monitor (still get sounds from the built in speakers) also tried AUTO and Local with no success, Would like to get the sound playing through my USB sound card.

Thanks

[2015-04-14 20:09] KenT2 commented on #7
Interesting, I was under the impression that USB audio couldn't be used with omxplayer, obviously I was wrong. What command line option do you use to get omxplayer to work with usb, I would be interested to know.
Whatever it is set the audio option in TBOPlayer to auto and in the omxplayer options field place the command lin option you use with the preceeding - or -- add a space before and after t

[2015-04-14 20:15] KenT2 commented on #6
I believe you could do this by modifying the TBOplayer code to read the file name from the command line and play the file but I don't know how. Would also mean some sort of assignment to the filetype. Not so sure about drag and drop, is it supported by LXDE desktop?

[2015-04-14 20:32] #3 closed

[2015-04-14 20:33] #5 closed

[2015-05-15 01:52] reikred opened #8 "Menu.Playlist.Save.Location"
In my opinion, I think it would be reasonable to expect that:

Menu.Playlist.Save.Location should  default to Initial-Directory-For-Playlists, or whatever Current-Playlist that I added tracks to, and not the directory that the last track got added from. I'm generally adding to an existing playlist, and it is cumbersome to have to click/type over to the Current-Playlist location every time I add/sa

[2015-08-24 05:59] #7 closed

[2015-08-24 05:59] #8 closed

[2015-08-24 06:02] #2 closed

[2015-09-04 22:20] heniotierra opened #20 "Interacting with youtube-dl causes interface to get locked until youtube-dl finishes"
youtube-dl may take some seconds to return the result and until then the GUI is locked.
I guess a way to avoid this is to use subprocess instead of pexpect. Or migrate TBOPlayer to python3 and use pexpect asynchronously.

Do you have an opinion, @KenT2 ?

[2015-09-05 14:14] KenT2 commented on #20
@heniotierra could you contact me here, https://pipresents.wordpress.com/contact/, I would like  to discuss TBOPlayer development by email.

For omxplayer, pexpect spawns a subprocess, sends it commands and listens for and filters replies using '.expect' 'pexpect.expect' is blocking so the listening is done in a python thread  in _get_position and signals set in this thread are polled in the main

[2015-09-05 17:52] heniotierra commented on #20
Oh yes, this is so much helpful! Thanks for your input, it's much appreciated. :+1:

[2015-09-05 19:54] KenT2 commented on #20
Glad to be of help.

The youtube-dl suggested that you need to completely download the video before starting omxplayer. I wonder if you can minimise the delay by starting omxplayer while the video is downloading. There would need to be a certain amount downloaded to allow for pauses in transmission etc.

[2015-09-05 22:36] heniotierra commented on #20
Actually, the arguments I used for youtube-dl extracts the media link from the page and then this link is what is passed to omxplayer. This way omxplayer plays the video stream directly. When adding Youtube playlists, it downloads the playlist as JSON and then this is processed and the direct links are extracted from the JSON "manually". :)

[2015-09-06 21:15] heniotierra commented on #20
Ok, I've implemented this, and it is working great. I implemented the Ytdl class (youtube-dl interface) with all of it's methods as static methods. I thought this might be better for readability, but I'm not quite sure about that. Of course changing this doesn't require any effort at all. Maybe it doesn't really matter.

[2015-09-06 21:41] heniotierra commented on #20
Also, I though of using some indent fixer to make the the code more organized. But then again, I don't know if that's necessary.

[2015-09-07 01:46] heniotierra commented on #20
I left the indentation alone for now.

[2015-09-07 02:35] #20 closed

[2015-09-07 20:55] heniotierra commented on #6
I guess this is possible now. :)

[2015-09-07 20:55] #6 closed

[2015-09-08 01:17] heniotierra opened #27 "licence.md is Pi Presents' licence"
Don't know if this is really a problem, but licence.md is Pi Presents'

[2015-09-09 12:00] popiazaza commented on #27
not sure what you mean, but I don't think licence.md have any problem since .md file is just a typical text file.

[2015-09-09 16:51] heniotierra commented on #27
@popiazaza Sure, what I mean is, it's a licence for another program.

[2015-09-12 14:06] popiazaza commented on #27
oh i see, he just copy & paste from Pi Presents.

[2015-09-15 07:47] heniotierra opened #36 "version naming"
There have been huge improvements in the past month, and I've been thinking about giving this version a number. Maybe 0.5? We could also make a stable release, as far as I can tell, meaning that I have throughly tested and bugfixed the new features.

From the top of my of head, the list of improvements include:
- youtube-dl integration with low memory cost and pretty good performance, without bloc

[2015-09-16 05:36] heniotierra commented on #36
New bug fix: previously, when pushing "next track" or "previous track" buttons or when in "playlist" mode, the track that was to be selected next would NOT be the next one in the list sequence, but the next one from the currently selected track, which in my own case would make it to play the "wrong" track very often.

[2015-09-16 19:33] heniotierra commented on #4
Just a guess, I think this might be caused by infinitely looping threads?
Specifically the thread for the ```_get_position``` functions, which is responsible for updating playing time. If that's the case, then I probably fixed it some days ago, making that function's loop to stop once omxplayer process closes.
Could you please verify this, @LorenzoRogai ?

[2015-09-16 19:50] LorenzoRogai commented on #4
@heniotierra Sorry but at the moment i'm using the raspberry as a server without the gui

[2015-09-16 20:13] heniotierra commented on #4
That's fine. Well, I guess I'll just close this issue as solved then, since CPU usage keeps low all the time for me and I fixed that endless loop. Thank you.

[2015-09-16 20:13] #4 closed

[2015-09-18 19:52] KenT2 commented on #27
Whoops, licence corrected

[2015-09-18 19:52] #27 closed

[2015-09-20 15:52] uksa opened #40 "Installing TBOPlayer on Raspbian"
I had a few issues with installing the TBOPlayer, this was on a fresh install however without the following it won't work:

1. sudo apt-get install python-pip
2. pip install pexpect
3. pip install ptyprocess
4. apt-get install python-gobject-2

Information could be helpful to others installing.

Linux 4.0.7+

[2015-09-20 17:18] heniotierra commented on #40
Thanks for the input. :)

I had not tested it on a fresh Raspbian install.
The installer should install pexpect, but maybe there's some some catch related to ptyptocess.
gobject was recently added as a requirement for DBus connectivity, but I thoguht it would be pre-installed.

That will be fixed soon. I'll send the patch along with a new feature for TBOPlayer.

[2015-09-20 18:58] uksa commented on #40
I'm sure pexpect was fine, however I think this was the full list. I've also tested in a 3.5" screen and it seems to be working ok so :)

Close the issue when ever you like...

[2015-09-21 18:26] heniotierra commented on #40
This should be fixed by https://github.com/KenT2/tboplayer/pull/41 now.

[2015-09-21 18:42] #40 closed

[2015-09-25 18:34] #36 closed

[2015-09-25 18:42] heniotierra commented on #36
I guess there's no need to change naming anyway. Closing this...

[2015-11-22 16:33] Lartza opened #45 "sudo pip install should not be used"
In the installer and instructions, sudo pip install is used which is dangerous at worst and unstable at best. Packages from the OS repositories should be used instead, or another way.

[2015-11-24 03:45] heniotierra commented on #45
Yes, that's because instaling pexpect through apt-get got me problems when trying to load ptyprocess, while pip installs makes it work with no problem. And installing pexpect/ptyprocess from source also gave me the same problem as apt-get, so I had no choice.

Why do you say pip is dangerous though? I get its packages are not so stable, but I'm unaware of any security issues aside of that.

[2015-11-24 03:54] Lartza commented on #45
Running sudo pip runs setup.py as root, and that can have any code inside it.

The stability problem is less about the pip packages being stable, but your system being less stable when you go around your package manager and touch system files with pip. Worst case is obviously updating already existing packages but installing new ones ain't much better.

pip install --user or a virtualenv should be

[2015-11-24 04:28] heniotierra commented on #45
Thanks, I will investigate this later.

[2015-12-08 16:58] heniotierra commented on #45
This has been corrected: the README.md and setup.sh both have pip install --user.

[2015-12-08 17:10] #45 closed

[2015-12-11 15:12] shadecrawler opened #46 "No module named gtk.gdk"
Traceback (most recent call last):
  File "/home/pi/tboplayer/tboplayer.py", line 392, in <module>
    from gtk.gdk import ( screen_width, screen_height )
ImportError: No module named gtk.gdk

Hi, I'm getting the above error after installing it either manually or the "first way". Is there an easy solution to this?
Unfortunately I'm a total linux noob, so sorry if the solution is overly simple.

[2015-12-11 22:02] heniotierra commented on #46
Are you using Raspbian? Which version?

Try `sudo apt-get install python-gtk2`  in the terminal and see if that helps.

[2015-12-13 13:40] shadecrawler commented on #46
Awesome, that did the trick for me. Thanks!
I'm using the Wheezy version. It only says  May 2015...

[2015-12-13 16:45] heniotierra commented on #46
I'm glad that you're good. I've added python-gtk2 to the installation in setup.sh and README.md, so, closing the issue.

[2015-12-13 16:45] #46 closed

[2016-01-20 11:58] jmggs opened #47 "Pause at the end"
Hi,
Is possible to cue a video like start paused at first frame?

And at the end of the video freeze at the last frame?

I want to use the TBOPlayer as a playout server and that is very usefull.

Thanks

[2016-01-20 13:25] KenT2 commented on #47
Is possible to cue a video like start paused at first frame?
No, but it would not be too difficult to add it.

And at the end of the video freeze at the last frame?
No, but Pi Presents version 1.3 (gapless) will.

You might find PI Presents a better fit for your application.

[2016-01-20 13:42] heniotierra commented on #47
Hi,

Yes, it'd be possible add an option for this in the Options panel. For pausing at the start, just start the video and then immediately force it to pause. For pausing at the end of the video you can calculate what would be the time for the last frame, based on video length and frames per second, and then pausing at the right time.

However, being pessimistic, I'm not sure if that would be very

[2016-01-20 13:53] heniotierra commented on #47
Oh, and there's Pi Presents! ;)

[2016-01-20 13:56] KenT2 commented on #47
In Pi Presents Version 1.3 (gapless) I do pause at start but not in the way that the OP wants it. I had to modify JBaiters code a little to get it to work reliably. Look at omxdriver.py

For pause at end no calculation is necessary. You can run omxplayer with the -i option to obtain the duration, I then subtract some mS. and pause omxplayer at that time. The time is got from the timecode returned

[2016-01-20 14:34] heniotierra commented on #47
I'm aware of the -i option (TBOPlayer now uses it too), but I didn't know about -s. And TBOPlayer's Jbaiter has been heavily modified to fit the new features, but I guess this could be put this in.

[2016-01-20 22:05] jmggs commented on #47
I'm not a programmer and i have no ideia how to do it :(

But pause the end at could be a option like repeat, simple, playlist.

For the start if is not possible to pause at first frame, can be at frame 2, 3 without any problem. At the end the same. It's not a problem. Because i use tboplayer to playout to a blackmagic atem video switcher and the videos have a few seconds more at the beginng and a

[2016-01-21 10:20] jmggs commented on #47
Do you guys think is possible to implement this?

[2016-01-23 05:39] heniotierra commented on #47
I'll try to do this this sunday, but can give no guarantee. If not possible, probably next week. It should not be too much work, so I guess it would take a few hours of work.

[2016-01-24 23:21] jmggs commented on #47
Thanks you are the best!

[2016-01-25 18:35] heniotierra commented on #47
@jmggs I have implemented this. It's a "Start/End paused " option in the Options menu, but no option to either  start OR end paused. Is that what you want? It's working, but I didn't upload it yet.

[2016-01-25 19:30] jmggs commented on #47
Hi,
 I think is that. So i press play one time starts paused, if press again is starts and end paused? If is that its ok ;)

Thanks -------- Original message --------
From: heniotierra <notifications@github.com>
Date:25/01/2016  18:35  (GMT+00:00)
To: KenT2/tboplayer <tboplayer@noreply.github.com>
Cc: jmggs <jmggs@hotmail.com>
Subject: Re: [tboplayer] Pause at the end (#47)

@jmggs I have implemen

[2016-01-26 01:02] heniotierra commented on #47
Ok then. Uploaded it now. If you find a problem, please report.

[2016-01-26 01:57] heniotierra commented on #47
Oh, you should close the thread if you think the issue is solved. ;) Cheers.

[2016-01-26 13:21] jmggs commented on #47
Hi, It's working!!!
Just one thing... is possible that the pause at beginning start at frame 1 (00:00:01) instated of frame 0 (00:00:00)?
Because at most of the videos the frame 0 is black and frame 1 have video information.

Thank you so much!
You are the best!

P.S. Is in your plans to add a counter in reverse - remaining time?

[2016-01-26 15:47] heniotierra commented on #47
Well, it would be possible, but other users would have different needs. So, I'm sorry, but If you have such specific needs, you'd have to edit the source yourself.

[2016-01-26 15:49] jmggs commented on #47
It's fair..Thanks for the add on ;)

[2016-01-26 15:49] #47 closed

[2016-01-26 15:50] heniotierra commented on #47
You have the option to edit the videos too.

[2016-01-26 16:01] heniotierra commented on #47
About the time counter in reverse, I tried that, but it was not possible because I could not find a way to make the background of the time element to be transparent, which screwed the looks.

[2016-01-26 20:09] jmggs commented on #47
I was talking about counter in reverse at the gui. I'm using the TBOPlayer via VNC to display 1.
The display 0 is the output of the Raspberry HDMI out and i have a option of omxplayer to --no-osd

So its a clean ouput.

I have disabled all desktop icons and i have a black background and the start menu is hidden.

The count down is usefull for the director give times to the talent and the concrete

[2016-01-26 20:48] heniotierra commented on #47
Yes, me too, was talking about the same thing. problem is, I didnt find a way to make this look good, since Tkinter does nor provide the necessary functionality, which is transparency.

If you are using tboplayer in a vnc desktop, you may find the option "forbid windowed mode" useful.

There is a web gui https://github.com/brainfoolong/omxwebgui

[2016-03-06 06:42] heniotierra commented on #47
@jmggs Hey, I just thought of a more obvious, painless way to show current time/total time. Before, I was trying to put the time display OVER the progress bar, but realized it would not be possible, because transparency would be necessary for that, which is a nono for Tkinter.

[2016-03-06 08:18] KenT2 commented on #47
For a gui over the web I have been using the gui toolkit RemI in Pi Presents https://github.com/dddomodossola/remi
It would not be too difficult to implement the TBOPlayer gui using this.

[2016-04-09 21:38] heniotierra opened #48 "[Raspberry Pi 3] Videos appear displaced?"
Seems like videos are shown displaced by ~50px in both axes(x,y), in the Raspberry Pi 3 (running Raspbian Jessie). I just noticed this, and ATM I have no idea of what might be the cause. Some investigation is required.

It would be great if someone could test if this also happens in Raspbian Jessie with the Raspberry Pi 1 (or 2).

[2016-04-09 21:40] heniotierra commented on #48
It would be welcome if someone could test if this also happens in Raspbian Jessie with the Raspberry Pi 1.

[2016-04-10 07:34] KenT2 commented on #48
Sounds like overscan problems. Run PP with the -d command line option.It will print out the screen size that it has obtained from Raspbian.

[2016-04-10 07:58] heniotierra commented on #48
Hi Ken, the player now uses the functions ```screen_width``` and ```screen_height``` to get the screen resolution, which, yes, is used to place the video in the right place. I guess I must have made a mistake somewhere.

[2016-04-10 14:44] KenT2 commented on #48
Whoops, I answered the question thinking it was a Pi Presents issue. My suggestion of overscan not being set correctly by the OP is still relevant. It  would make the result of your correct corrections incorrect.

[2016-04-10 15:29] heniotierra commented on #48
Then, please, enlighten me, sir! I do not know what overscan is nor how that affects TBOplayer. May HDMI cause that kind of problem?

[2016-04-10 23:05] koeshi commented on #48
You can disable Overscan by following Menu>Preferences>Raspberry Pi Configuration and then setting Overscan to Disabled.

[2016-04-11 01:08] heniotierra commented on #48
Oooh! That's it! It worked like a charm! Thank you @koeshi !

[2016-04-11 01:08] heniotierra commented on #48
I'm gonna add this to the Troubleshooting section of the README.md file.

[2016-04-11 01:08] #48 closed

[2016-06-04 02:21] twarr opened #49 "Select playlist with key bindings - TBOplayer"
Hi!

First of all: thank you for a great piece of software! I'm a newbie at raspberry pi all the way from Norway, and I habe a question about the TBOplayer.

I have a project where I need to select a specific playlist easily with just a click of a button, with a board like this: http://img.dxcdn.com/productimages/sku_428281_1.jpg

When I press the green button it selects playlist "rock", when I cl

[2016-06-04 04:07] heniotierra commented on #49
Hi twarr!

What you want is doable with TBOPlayer with some minor modifications. The idea would be to load up TBOPlayer passing a playlist as argument. However, to play another playlist you'd have to close the current TBOPlayer instance and then start a new one passing another playlist as argument. If that sounds good fo you, I can do it when I get some free time.

There are a few other options of

[2016-06-04 04:48] heniotierra commented on #49
Forgot to mention that TBOPlayer is already capable of adding files automatically upon starting, except that it does not work for playlists. To do it, call the program like this:

```python tboplayer/tboplayer.py '/path/to/a/file.mp4' '/path/to/another/file.mp4' '/path/to/yet/another/file.mp4'```

[2016-06-13 22:25] Schabernack opened #50 "Missing uninstall docs"
Please provide documentation how to uninstall  tboplayer.

[2016-06-13 23:54] heniotierra commented on #50
To uninstall TBOPlayer, execute in the terminal:
[code]

If you want to remove the dependencies, you must be aware that doing so may make other programs that use the same stuff to stop working. To remove all dependencies, do:
[code]

I should add this to the docs.

[2016-06-14 14:19] Schabernack commented on #50
Thank you for the quick reply.

[2016-06-27 07:22] heniotierra commented on #50
Now with commit https://github.com/KenT2/tboplayer/commit/9371a3113920e0e1fa2c267fe26f95e858b3eee9 tboplayer can be easily removed with the command ```~/tboplayer/setup.sh uninstall```.

[2016-06-27 07:22] #50 closed

[2016-06-27 15:07] heniotierra opened #51 "remove ffmpeg from installation since it has been removed from Raspbian repo"

[2016-06-27 15:13] #51 closed

[2016-06-27 15:17] heniotierra opened #52 "remove preferred transcoder option"
Option to choose the preferred option for transcoder for youtube-dl should be removed since ffmpeg package has been removed from the official repo (and from tboplayer's setup cause since it is missing it was breaking the script).

[2016-06-29 03:27] #52 closed

[2016-06-29 03:28] heniotierra commented on #52
done

[2016-06-29 03:31] heniotierra commented on #49
implemented possibility to load a playlist from command line, so closing this

[2016-06-29 03:31] #49 closed

[2016-07-16 11:07] NSasquatch opened #53 "Put the player inside /opt instead /home/pi/tboplayer"
I just noticed that you install your player inside the `/home/pi/tboplayer` directory. I think `/opt` would be better suited. First, [it exists specifically for applications like yours](http://askubuntu.com/questions/6897/where-to-install-programs), and second - there is no danger of it getting deleted.

[2016-07-16 16:41] heniotierra commented on #53
Ok, It will be done! Thank you! :)

[2016-07-17 02:44] heniotierra commented on #53
Done! Thank you again @NSasquatch.

[2016-07-17 02:44] #53 closed

[2016-08-09 18:09] tpitman opened #54 "I can't get this to work"
I followed the installer instructions.

I made sure there is not another omxplayer instance running.

I tried playing the same file using the command line given in trouble shooting and it plays full screen just fine.

I use the Add button or menu to add the same file and nothing happen then or if I hit play.

I then tried playing the file again using the command line and it works fine.

[2016-08-09 21:27] heniotierra commented on #54
Does this happen to all of your files, or just to some specific files,
or file extensions?

2016-08-09 15:09 GMT-03:00, tpitman <notifications@github.com>:

[2016-08-09 21:28] tpitman commented on #54
I only have the one file for testing at this point. It is the bunny video that comes stock on a brand new Raspbian installation.

It is in the /opt/vc/src/hello_pi/hello_video folder called video.h264 or something like that.

[2016-08-09 21:44] heniotierra commented on #54
If the extension.nsion of the file is h264, then the reason is the file extesion. Rename your file to video.mp4 and try again.

I could add this extension to the List of valid extensions, but doing a mimetype check instead of extension check is probably a good way of helping avoiding this kind of problem.

[2016-08-09 21:47] tpitman commented on #54
Ah, I was assuming it would just be passing the file along to the command line omxplayer because it plays the file just fine. I didn't realize that your wrapper cared what the file was named.

[2016-08-09 21:57] heniotierra commented on #54
It did not matter how it was named , but this was added as a way of restricting what kind if files were acceptable (igoring non-media files). Tkinter does not support extension restriction when selecting a folder, not that I know. So, that's done with a file extension check. Another way to do this (probably a better way) is with a mime-type check.

[2016-08-29 07:03] heniotierra commented on #54
Fixed this with #55 ... by adding the h264 (and another ones too) extension to the list of allowed extensions, which is not perfect.

After some research and testing, I found python does not have a good way of guessing the mime type of a file by default. That means we will need an external ~~MAGIC~~ library just for that. Might be worth it though. I will probably get to that soon.

[2016-08-29 08:53] heniotierra commented on #54
Using ~!!MAGIC!!~ now! Switched from extension checking to mime-type checking. The problem with unrecognized extensions should be solved now...

[2016-08-29 08:53] #54 closed

[2016-10-03 07:34] syariffudinzo opened #56 "Unable to play video, error on index"
I've installed as per guide in the documentation. at first on fresh install the video can be played as expected. after changing the configuration and set it to "loop: repeat" at the configuration, it seems that I've trace an issue as below in console:

`Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python2.7/lib-tk/Tkinter.py", line 1535, in __call__
    return

[2016-10-03 16:06] heniotierra commented on #56
I will investigate this when I find some free time. Thank you.

[2016-10-05 02:51] heniotierra commented on #56
Hi Syariffudin Sapri, are you sure the file that`s to be played works?
Maybe it`s corrupt? Is it a specific file? You see, I have already
made a fix to avoid the error, however this error seems to indicate
that the file failed to be played by omxplayer. If you try to open
this file with omxplayer directly on the command line, does it work?

2016-10-03 13:06 GMT-03:00, Hênio Tierra <heniotster@gmai

[2016-10-10 00:18] heniotierra commented on #56
@syariffudinzo Can you please test whether the change I made solves the problem? To update your version of tboplayer to the version in the temporary branch, do:

        sudo wget https://raw.githubusercontent.com/KenT2/tboplayer/fix_issue_56/tboplayer.py -O /opt/tboplayer/tboplayer.py

And then execute it normally.
As I said in the previous comment, this version should avoid the error, however th

[2016-10-13 03:07] heniotierra commented on #56
The fix is in the master branch now. (not the same version as the one above.

[2016-10-13 03:07] #56 closed

[2016-10-26 15:13] gugica opened #57 "Unsuccsessful installation"
When attempting to install via auto installation....
cd ~ && wget https://github.com/KenT2/tboplayer/tarball/master -O - | tar xz &&
cd KenT2-tboplayer-* && chmod +x setup.sh && ./setup.sh

...I get the following message during the installation. Even though I get at the end of the installation process a message which is reporting successful installation, command tboplayer is not working after that

[2016-10-26 15:54] heniotierra commented on #57
Hi,

Which OS (and version) are you using?
Also, closing the terminal after installation and then opening a new
terminal, tboplayer command still does not work?

Em 26/10/2016 12:13, "gugica" <notifications@github.com> escreveu:

[2016-10-26 15:57] gugica commented on #57
I am using Raspbian Jessie with XFCE desktop.
No luck with opening a new terminal window though :(

[2016-10-26 16:07] heniotierra commented on #57
Okay... can you find Tboplayer in your apps menu, under multimedia or
related? If not, then for now you can run tboplayer with the command
'''python /opt/tboplayer/tboplayer.py'''. I think this problem must be
because of incompatibility with xfce. It's fixable, but might require
specific folder definition for lxde.

[2016-10-26 16:25] gugica commented on #57
I figure it out! Omxplayer wil not launch if I type "omxplayer" command in to terminal but that's OK. Running "python /opt/tboplayer/tboplayer.py" Gave me some kind of error that Dbus is missing on my system.
`sudo apt-get install python-dbus` Fixed the problem and now is working perfectly :)

[2016-10-26 16:42] heniotierra commented on #57
I'm glad you've figured it out.

It's weird that you can't run omxplayer through the terminal, though. Tboplayer requires omxplayer to be properly installed and working. I hope you are being able to play stuff properly with Tboplayer.

I should add python-dbus package to the installer. Previously it would come pre-installed with stock Raspbian. I'll look into the problem with XFCE and other deskto

[2016-10-28 12:41] heniotierra commented on #57
@gugica Your issue with XFCE has been fixed. To try it, just follow the setup instructions again. It will make tboplayer command work for you and also make file associations as it must so that you can open files with double-click. Works for any desktop manager.

[2016-10-28 12:41] #57 closed

[2016-11-08 08:04] detrax opened #58 "python-tk missing"
During the installation with your script, python-tk seems not to be considered to install, if missing.

[2016-11-08 13:25] heniotierra commented on #58
Hi,

Just type:
sudo apt-get install python-tk

Em 08/11/2016 05:04, "detrax" <notifications@github.com> escreveu:

[2016-11-08 13:31] heniotierra commented on #58
I guess you've received an error message when trying to launch tboplayer...

Em 08/11/2016 10:25, "Hênio Tierra" <heniotster@gmail.com> escreveu:

[2016-11-08 15:42] heniotierra commented on #58
Added python-tk to installation setup and manual instructions. TY.

[2016-11-08 15:42] #58 closed

[2016-12-09 23:17] somesmart commented on #40
I just installed this on Raspbian and had to manually install pexpect and python-magic in order to get it to work. Let me know if you need more information!

[2016-12-09 23:25] heniotierra commented on #40
Weird. Which version of Raspbian did you install? Thank you.

[2016-12-09 23:29] somesmart commented on #40
I've had it for a while so I'm still on Rasbian 7 (wheezy)

[2016-12-09 23:45] heniotierra commented on #40
What these two packages have in common is that thay both are installed with pip. So my guess is that your problem is related to pip. Did you have to install pip too? Did you use pip normally to install the packages?

[2016-12-10 00:51] somesmart commented on #40
No, pip was already installed. I was just ran the scripts from the manual installation instructions:

`pip install --user pexpect ptyprocess python-magic`

[2016-12-21 19:31] Octopus3535 opened #59 "Alsa Mixer"
This is probably wrong as I am learning about linux and raspbiean, but im having trouble with the alsa mixer. There isn't an option in the TBOplayer and I have been trying to make it the default. My headset is a usb headset, and i has it's own alsa mixer. Is there a way to have alsa come through the TBOplayer? I'm sorry if this is a problem on my end, it probably is, but i haven't found anything t

[2016-12-21 20:16] heniotierra commented on #59
I'm sorry, but omxplayer, which is used by tboplayer, does not provide
support for ALSA. If you want to use ALSA, you'll have to resort to another
player. You can try vlc, for example. Just don't expect to have hardware
accelaration for your videos.

Em 21/12/2016 16:31, "Octopus3535" <notifications@github.com> escreveu:

having trouble with the alsa mixer. There isn't an option in the TBOplayer
a

[2016-12-21 20:52] heniotierra commented on #59
On a second thought, I think VLC probably can't access the audio jack, and that may be true for all players that don't use omxplayer, unless you change the default configuration.
You can check here to see how to change the said config:
https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=40872

[2016-12-21 21:01] KenT2 commented on #59
The version of omxplayer in the sept 2016 raspbian supports alsa.

[2016-12-22 03:15] heniotierra commented on #59
In this case, @Octopus3535 , you can just use '-o alsa' in the TBOPlayer's options panel.

[2016-12-24 02:45] ChrisSaldivar opened #60 "White text on white background"
When adding tracks all of the text is white and I can't see them. I have to click where the tracks are for them to turn black. This is on raspberry pi 3 running Ubuntu mate.

[2016-12-24 18:50] heniotierra commented on #60
That can be fixed. Will do soon. Thanks.

[2016-12-25 09:43] heniotierra commented on #60
@ChrisSaldivar This should have been fixed. Can you try it? It's in the main branch.

[2016-12-28 05:24] #60 closed

[2017-01-03 22:36] eysispeisi commented on #59
i'm working on some changes, they include adding an an alsa checkbox in options.

[2017-01-04 04:31] heniotierra commented on #59
Hey, the resizing thing is cool!
However, about the ALSA support part, I don't think a radio button will work for the case of the OP. A Checkbox should be better, allowing this pattern in the cli:  '''-o local:alsa'''

[2017-01-04 08:25] KenT2 commented on #59
There is ongoing work which will change the omxplayer interface in this area:

[https://github.com/popcornmix/omxplayer/issues/498](url)

[2017-01-04 17:38] heniotierra commented on #59
I have merged the PR by eysispeisi. Since it's a simple implementation, it most probably will be supported after the changes to omxplayer.

[2017-01-04 17:38] #59 closed

[2017-01-04 17:45] eysispeisi commented on #59
My version of omxplayer already supports it... is there a new change coming or am i missing something?

my version -->
omxplayer - Commandline multimedia player for the Raspberry Pi
        Build date: Fri, 23 Sep 2016 00:56:49 +0000
        Version   : dfea8c9 [master]
        Repository: https://github.com/popcornmix/omxplayer.git

[2017-01-04 17:50] heniotierra commented on #59
Yes, it is supported. I meant it will STILL be supported after the changes mentioned in the linked thread.

[2017-01-08 04:59] heniotierra opened #64 "Problem with ExceptionCatcher"
@eysispeisi I don't think the player should exit upon catching errors related to DBUS connection, because the user should still be able to control omxplayer, except not using the DBUS interfaces' methods.

[2017-01-08 14:29] eysispeisi opened #66 "Drag and drop support"
Been combing the internet for a drag and drop solution for tkinter, simply isn't there in this version of tkinter that is currently compiled for any python implementation.

Other UI bindings do have support for DnD, like gtk.
I did a messy hack, combining the tkinter tboplayer with a gtk DnD window.
https://github.com/eysispeisi/tboplayer/tree/dnd

So much about this seems dubious though, first it

[2017-01-09 02:22] heniotierra commented on #64
Hi @eysispeisi , I'm sorry for not making this more clear. Making the player exit upon encountering a Tkinter breaking exception is a good thing. However, DBus exceptions don't break the interface. You could specify an exception handling for DBus exceptions with ```except dbus.DBusException, e:``` .

[2017-01-09 02:26] eysispeisi commented on #64
yah, your right, my mistake, it was pretty clear what you said. i made this change while going on only a few hours of sleep, which i should really stop doing.
lets just close this port, i have other fixes i want to do as well before i do another port.

[2017-01-10 23:09] heniotierra commented on #66
Only now I had the chance to test this out. It's working good, but hum, aestetically it doesn't fit. I thought of implementing this drag n drop feature, but realised my best option was to convert the whole program to GTK, so... yeah, I dropped the idea.

[2017-01-10 23:50] heniotierra commented on #64
I found another bug in add_url method that occurred when the clipboard was empty, and also fixed this here. There might still be other kind of exceptions that should not make TBOPlayer to quit. We shall see.

[2017-01-10 23:50] #64 closed

[2017-01-13 23:50] eysispeisi commented on #66
Yah, converting to GTK requires a complete overhaul of everything. with this hack we can atleast implement it until a DnD option is added to tkinter.

[2017-01-14 05:43] heniotierra commented on #66
We don't know if this will ever go into TKinter. I mean, ut should, but would tke so long... his implementation of yours has a few problems. Ideally, the drop button should be the list itself, but the way it is it's so out of place. Other problem is that TBOplayer has two seperate windows in the applications bar, and it you focus out of TBOPlayer and then click the gtk window, all you'll see is th

[2017-01-14 12:51] eysispeisi commented on #66
TkDND looks a lot better, did a quick mocup of it in https://github.com/eysispeisi/tboplayer/tree/tkdnd
it only works on files at the moment, not on urls from browser

[2017-01-14 12:54] eysispeisi commented on #66
note, with this a few setup commands are needed...

sudo apt-get install tk-dev tcl-dev
git clone https://github.com/petasis/tkdnd ; cd tkdnd
./configure
make
sudo make install

[2017-01-14 16:17] heniotierra commented on #66
Is it really needed to compile it? I think tkdnd is available in apt repositories.

[2017-01-14 16:54] heniotierra commented on #66
Also, it's better to leave TKDnD class inside tboplayer.py file..

[2017-01-15 04:47] heniotierra commented on #66
merged

[2017-01-15 04:47] #66 closed

[2017-01-16 00:39] heniotierra opened #68 "Forbid windowed mode won't work as intended"
@eysispeisi Videos should be displayed in fullscreen if the option "Forbid windowed mode" is on. Currently, this is not happening (it was working before your modifications to fullscreen/windowed mode). Can you fix this? I did not look into the issue, but if you don't have the time to spare, I will.

[2017-01-17 19:09] #68 closed

[2017-01-17 21:55] eysispeisi commented on #68
been working late this week, haven't had time.

[2017-01-23 15:53] deembe opened #70 "mp3 track skips to end on playback"
Hi, I've just done a fresh install of Raspian, Omxplayer and tboplayer.

Playback of an mp3 file in tboplayer skips to the end of the track.
The same mp3 plays fine manually in omxplayer -o local {filename} usage.
Youtube video plays OK via HDMI.

tboplayer is 17 Jan 2017 build
omxplayer is 23 Sept 2016 build.

[2017-01-23 17:46] heniotierra commented on #70
Hum... yes... I think I know what's happening. Will have a look at this. Thanks!

[2017-01-23 19:12] heniotierra commented on #70
There, it's fixed!

[2017-01-23 19:12] #70 closed

[2017-01-23 21:01] deembe commented on #70
Many thanks, that's working and I'm listening to Chasing Cars by Snow Patrol.... 👍

[2017-01-27 16:16] aaryadev opened #73 "youtube-dl not copied in Ubuntu Mate for Raspberry Pi"
Hi when installed in Ubuntu Mate for Raspberry Pi (16.04)  youtube-dl is not copied to /usr/local/bin.
Have to manually copy it from /usr/bin.

when launch is from /opt/tboplayer/tboplayer.py its shows youtube-dl is not found in /usr/local/bin, so manually copied it . it worked out of box.

In Pixel no such issue found

[2017-01-27 16:29] heniotierra commented on #73
Hi @aaryadev , tell me, youtube-dl was already installed when you installed tboplayer, am I correct? Seems to me like you had already installed youube-dl from ubuntu repository, using apt-get?

[2017-01-27 16:37] aaryadev commented on #73
No it's fresh install. I installed it again. still same , but not happening with PIXEL and UBUNTU 64 desktop

[2017-01-27 16:45] aaryadev commented on #73
error on Ubuntu Mate 16.4 Raspi

`Traceback (most recent call last):
  File "/opt/tboplayer/tboplayer.py", line 2784, in <module>
    bplayer = TBOPlayer()
  File "/opt/tboplayer/tboplayer.py", line 1219, in __init__
    self.ytdl.check_for_update(ytdl_updated)
  File "/opt/tboplayer/tboplayer.py", line 419, in check_for_update
    current_version_hash = sha256(open(self._YTLOCATION, 'rb').read())

[2017-01-27 16:45] heniotierra commented on #73
Then you are saying that the installer installs youube-dl in /usr/bin instead of /usr/local/bin ? That would be very weird. Apt-get installs a very old version of tboplayer in thr /usr/bin directory, that's why I thought it was the case...

Anyway, I think I know how to deal with this problem... can you do a test after I push a possible fix?

[2017-01-27 16:46] aaryadev commented on #73
Yes sure , Thanks a lot , I am installing 12 Raspi so i can test it any time.

[2017-01-27 19:08] heniotierra commented on #73
@aaryadev , please, try this setup script:
https://raw.githubusercontent.com/KenT2/tboplayer/fix_73/setup.sh
You can substitute this content (ctrl-a, ctrl-c, ctrl-v) with the content of your setup.sh script in /opt/tboplayer/, and then just run it. My approach here is check if youtube-dl is already installed, and if it is, it will be removed for reinstalling.
If that does not solve the issue, my g

[2017-01-27 19:12] heniotierra commented on #73
Another thing that must be done is to just avoid using youtube-dl if it cannot be found in the path configured in the options.

[2017-01-27 19:32] aaryadev commented on #73
CUrl is preinstalled. yes on fresh install i checked youtube-dl and and youtube-dl-gui is pre-installed so...

[2017-01-27 19:32] #73 closed

[2017-01-27 19:38] heniotierra commented on #73
Right, good! Now, I still have to avoid trying to use youtube-dl if it's not in the path configured in the options, and then tell the user youtube-dl could not be found.

[2017-01-27 20:36] heniotierra commented on #73
That's done. If youtube-dl is not in the configured path, tboplayer informs the user and tells him to fix his config.

[2017-01-27 20:39] heniotierra commented on #73
Setup has not been touched.

[2017-04-03 19:32] pejko opened #84 "usb DVB-t tuner"
Hi this is not and issue more like a question. Is it possible to load/play tv chanels usinf tboplayer and an usb dvbt tunner? i managed to find the drivers for tunner and test it with vlc so drivers are fine, just need to know how to hook it together with tboplayer.
Ty for your time and this great GUI :)

[2017-04-03 20:29] heniotierra commented on #84
Hi @pejko , I believe you should be able to either open the device (inside /dev) directly as a normal track, or you could get a url which then you'd paste into tboplayer's url dialog. If omxplayer can play it, then tboplayer must be capable of that too. Or did you try those things already without success?

[2017-04-03 20:36] pejko commented on #84
wow thank you for such fast reply , unfortunately i have to reinstall raspbian  :D but will write back asap .

[2017-04-09 03:46] heniotierra commented on #84
I guess you've had your problem solved, so I'll close this issue. If you need more help, you can reopen it.

[2017-04-09 03:46] #84 closed

[2017-04-09 21:23] beckpeter opened #88 "no Drag and Drop module"
I just did a fresh install of Raspbian on the pi (2 B+).  Just installed this package using the automatic installer and it gives me the following error:
_tkinter.TclError: can't find package tkdnd

[2017-04-09 21:26] #88 closed

[2017-04-09 22:20] heniotierra commented on #88
So... what happened? The installer should install tkdnd automatically, unless there is some problem with it. Like, idk, the download being corrupt. Although I think apt-get must have some way to avoid this...

[2017-04-09 22:48] beckpeter commented on #88
Disclaimer: I am fairly new with the raspberry pi, so it more than likely is something on my end that I don't know about.

I can't find tkdnd using:  sudo apt-get install tkdnd
it gives me an error of 'unable to locate package tkdnd'.

I have tried 2 different mirrors on it (kind of out of necessity because the mirror director isn't working for me).

And I wouldn't know how to manually install tkd

[2017-04-09 23:10] heniotierra commented on #88
Ok, thanks for your answer. Now, if you want to use the drag n drop feature, use the commands below to download, build and install tkdnd package from source code:

sudo apt-get install build-essential gcc tcl-dev tk-dev
wget https://github.com/petasis/tkdnd/tarball/master -O - | tar xz &&
cd petasis-tkdnd-*
./configure
make
sudo make install

[2017-04-15 21:55] agustinscaz opened #92 "Access basic controls via command line"
It would be great to have to control the GUI with commands like:
[code]

Could you make this possible?

Thanks!

[2017-04-15 22:50] heniotierra commented on #92
Well, yes, it can be done by exposing the respective methods to the DBus interface. However, to control these DBus methods via CLI, it would be best to connect directly to the DBus layer with a shell script instead of calling tboplayer as you are proposing, because by calling tboplayer this way, the Pi would have to load the whole tboplayer code to memory, which takes time.

May I ask what exactly

[2017-04-15 23:01] agustinscaz commented on #92
Im trying to control the tboplayer with the voice with this project (https://github.com/alexylem/jarvis).
What I have done is adding items to playlist like this:
subprocess.Popen('python /opt/tboplayer/tboplayer.py ' + csvFile, shell=True)

So I say, _jarvis, play rock_, and I load a list of N *.mp3 files.
Then if I say _jarvis, play pop_ the tboplayer adds more songs to the list, but what I want

[2017-04-15 23:15] heniotierra commented on #92
Ok, in this case, I just need to expose the methods to the DBus intarface as I said. Your part would be to connect to TBOPlayer via DBus and  call the method exposed.

By the way, currently you can open files using the DBus interface too. The way you are doing it files uses DBus connection, but takes longer for the same reason I stated above, that is, having to load the whole TBOPlayer code to mem

[2017-04-15 23:37] heniotierra commented on #92
Oh, you must have guessed it, but to use the DBus interface, tboplayer has to be running already. If it`s not, then you`ll have to start tboplayer first with the command you posted.

[2017-04-16 01:13] heniotierra commented on #92
@agustinscaz There, it's done.

The DBus interface methods are:

openFiles - expects [String] array as argument
openPlaylist - expects String as argument
openUrl - expects String as argument
play - expects track index (integer) as argument (defaults to 0)
pause
stop
next
previous
volumnDown
volumnUp

[2017-04-16 01:13] #92 closed

[2017-04-16 01:33] agustinscaz commented on #92
I can't make it work, and I don't understand what's the problem, can you help me?

File: test.py
`
TBOPLAYER_DBUS_OBJECT = "org.tboplayer.TBOPlayer"
TBOPLAYER_DBUS_PATH = "/org/tboplayer/TBOPlayer"
TBOPLAYER_DBUS_INTERFACE = "org.tboplayer.TBOPlayer"

import dbus

# connect tho TBOPlayer's DBus interface
bus = dbus.SessionBus()
bus_object = bus.get_object(TBOPLAYER_DBUS_OBJECT, TBOPLAYER_DBUS_PATH

[2017-04-16 01:50] heniotierra commented on #92
But you modified the code, right? Without your modifications, are you able to control the interface?

The problem in your modification is that you are defining the method to receive an array of strings as argument.

However, although there is a pause method, the play method pauses the currently playing track if the player`s playing something. That should probably be changed to force playing of spe

[2017-04-16 05:02] heniotierra commented on #92
@agustinscaz
I have changed the behaviour if the play method. In the current version, if no track is playing, it plays the track, or it pauses the track if that same track is currently playing, or if a different track is playing, it stops the track and starts the track specified.

Also, added fullscreen method to the interface.

[2017-05-19 00:10] heniotierra opened #106 "under certain condition, tboplayer does not quit correctly"
Tboplayer does not quit correctly after using some youtube-dl functionality. The problem seems to only occur in the specific case when you successfully add an url supported by youtube-dl, but try to quit the player without playing the track. If a track is started, then, after closed, the user can quit the player normally.

[2017-05-19 00:52] heniotierra commented on #106
The problem seems to only occur in the specific case when you add an url supported by youtube-dl but don't press play. If a track is started, then, after closed, the user can quit the player normally.

[2017-05-19 03:16] heniotierra commented on #106
Found the cause, sent fix: https://github.com/KenT2/tboplayer/pull/107

[2017-05-19 03:16] #106 closed

[2017-08-08 12:03] loriszigliani opened #109 "First start "Play" - "Pause" - Position seek"
When I open TBO Player for the first time after raspberry start, the position seek, menu button "Play" not change status and rest Play, and position seek not appear, but if I play any movie and click next, the gui show position seek and button "play" change status to "Pause".
After that, if I don't close TBOPlayer, the GUI works perfectly.
When i start Raspberry I'll do this step.

[2017-08-09 03:33] heniotierra commented on #109
Hi @KenT2,

Thanks for bringing this up, but I'm not sure I was able to completely understand your problem. You are saying that after starting the Raspberry Pi, you start tboplayer and the play button won't change to "Pause" after you press play to start playing a track and the same occurs with the progress bar, and only after hitting the "next" button the GUI will work as expected, is that it?

i

[2017-11-12 20:05] heniotierra opened #111 ""Translators" requested"
TBOPlayer has just gained an internationalization system for itself, but is still lacking the translation files. Google translator or some other service can do the hard work for you, you just have the review and fix the produced translation. If you have interest, the instructions below should be enough to get the job done.

1) First, you'll need to have poedit installed, a software for making gett

[2017-11-13 00:44] heniotierra commented on #109
Closing this, since there was no feedback, and I was unable to reproduce the said problems in the current version.

[2017-11-13 00:44] #109 closed

[2018-01-04 01:28] fonggarry opened #116 "cannot start tboplayer"
Hi, I am very new to this. I have installed the tboplayer by:

cd ~ && wget https://github.com/KenT2/tboplayer/tarball/master -O - | tar xz &&
    cd KenT2-tboplayer-* && chmod +x setup.sh && ./setup.sh

After the installation, when I goto the icon and hit tboplayer - nothing happens.
I use Terminal window and manually type in tboplayer, I have:

/usb/lib/python2.7/dist-packages/gtk-2.0/gtk/__init

[2018-01-04 01:36] heniotierra commented on #116
Hi,

The error says you don't have python-requests installed. The installer should have taken care of that, but something must have gone wrong.

Make sure that you have up-to-date data about packages with:
        sudo apt-get update

Then install python-requests:
        sudo apt-get install python-requests

Did you try the manual installation (instructions in the README file)?

[2018-01-04 02:04] fonggarry commented on #116
Thank you for your help. After installed the python-requests, when i invoke tboplayer, I got this error:

/usr/lib/python2.7/dist-packages/gtk-2.0/gtk/__init__.py:57: GtkWarning: could not open display
  warnings.warn(str(e), _gtk.Warning)
Traceback (most recent call last):
  File "/opt/tboplayer/tboplayer.py", line 3173, in <module>
    bplayer = TBOPlayer()
  File "/opt/tboplayer/tboplayer.py",

[2018-01-04 02:27] heniotierra commented on #116
What linux distribution are you using?

Now the error says the screen can't be accessed. I have seen that happen when one's not using a desktop manager (a GUI environment). Uses to happen if you're trying to start TBOPlayer from an ssh terminal, or without having started a display server. If you are indeed using ssh, use VNC instead, that will solve your problem.

I think uninstalling would probab

[2018-01-04 04:41] fonggarry commented on #116
Hi, you are right. The ssh does not work. What I did was invoke from my pi. The GUI turned on (it took awhile but is ok). I can select and play video. However, the video play but can't see my screen because it cannot sync. I think that it is because I am using a 7 inch touch screen. And Somehow, tboplayer was displaying other resolution.  I have not problem invoke my mp4 from omxplayer and it sync

[2018-01-04 04:53] heniotierra commented on #116
F11 to go fullscreen mode? I hope that helps.

No problem.

[2018-01-05 02:03] #116 closed

[2018-02-02 13:36] ttqf opened #119 "initial playlist directory"
unless it's by design, there seems to be an issue with saving the location of the "initial playlist directory".
I haven't tracked how exactly works, but from what i could figure, when opening a csv list the "self.options.initial_playlist_dir" gets cleared and later saved in the "tboplayer.cfg" file.
my fix for this is:
`def _open_list(self, filename):`
`   #self.options.initial_playlist_dir = '' <

[2018-02-02 18:10] heniotierra commented on #119
That is more or less by design. Actually, It was a cheap fix for another problem. I'll see to it.

[2018-02-03 13:23] heniotierra opened #121 "Both Ytdl and lyrics fetcher only work when using english language for GUI"

[2018-02-03 21:28] heniotierra commented on #121
Fixed

[2018-02-03 21:28] #121 closed

[2018-02-04 04:03] heniotierra opened #123 "what to do in case sudo asks for password for youtube-dl update"
options are:
1) (this is current implementation) don't ask for password; automatic youtube-dl update will work only if sudo is configured to not ask for password for current user;  should add note in README about this;
2) ask for password in GUI when sudo resquests it; IDK, may be a bit annoying for the user;
3) allow disabling automatic update of youtube-dl.

[2018-02-06 03:50] heniotierra commented on #123
I decided to go with the three option.

[2018-02-06 13:31] #123 closed

[2018-02-09 23:31] patrickgmail opened #127 "omxplayer command line view"
Hi,
It should be usefull in debug mode to have a way to see what's the full command line sent to omxplayer.
Thank you

[2018-02-10 04:46] heniotierra commented on #127
If you need that, just uncomment line 145
https://github.com/KenT2/tboplayer/blob/3967cef02f2658ada218509f7d9c0d1b6c6b9105/tboplayer.py#L145

[2018-02-10 04:46] #127 closed

[2018-02-28 08:34] hsynsysl opened #128 "sound issue"
everything is ok, but i can not get sound from aux 3.5mm connector of rpi-3

[2018-02-28 11:01] hsynsysl commented on #128
I find the solution by option>edit
Thanks a lot the audio setting remained in hdmi mode

28 Şub 2018 13:59 tarihinde "heniotierra" <notifications@github.com> yazdı:

[2018-03-01 04:55] heniotierra commented on #128
Ok. If you still have some problem related to this issue, you can reopen it.

[2018-03-01 04:55] #128 closed

[2018-03-01 05:00] hsynsysl commented on #128
Ok, thank you

1 Mar 2018 07:55 tarihinde "heniotierra" <notifications@github.com> yazdı:

[2018-03-06 23:17] ScarFez opened #129 "File "/opt/tboplayer/tboplayer.py", line 76"
tboplayer
  File "/opt/tboplayer/tboplayer.py", line 76
    except Exception, e:
                    ^
SyntaxError: invalid syntax

[2018-03-09 09:48] heniotierra commented on #129
What OS are you running?

Em ter, 6 de mar de 2018 20:17, ScarFez <notifications@github.com> escreveu:

[2018-03-18 20:51] heniotierra commented on #129
@ScarFez Would you mind testing the code in the devel branch? https://github.com/KenT2/tboplayer/tree/devel

[2018-05-14 20:11] kamane opened #134 "Playlist transition GAP"
hello, I'm trying to read a playlist in full-screen mode but between each video the RPI background is displayed for like 3 sec is there a way to better handle transition ? without GAP

[2018-05-14 21:20] heniotierra commented on #134
Hi, @kamane ,

That's possible to implement, but has potential to cause many problems to deal with, thus it will require substantial amount of time to implement and test and fix.

[2018-05-14 21:46] heniotierra commented on #134
Good. Maybe you're thinking of contributing with tboplayer?

[2018-05-21 05:21] heniotierra opened #135 "Ytdl update asks for password even if SUDO is configured not to ask for password"

[2018-05-21 06:30] heniotierra opened #136 "Entries with youtube-dl links in [saved csv] playlist file are unrecoverable"
To solve this issue, the original link must be kept and saved in the playlist file. This can easily be done using one of the existing slots in the playlist entry tuple.

[2018-06-03 10:44] seem-less opened #137 "TBOplayer runs as root, but it does not run as a regular user."
Hello,

When I run TBOplayer as root it works fine. When I try to run with a regular user I get this error:

[code]

pexpect is located in the following directory:

`/home/pi/.local/lib/python2.7/site-packages/pexpect`

the user "student" home directory is located here:

`/media/home/student/`

Any idea why the pexpect module can't be found?  Thanks

[2018-06-03 16:46] heniotierra commented on #137
Hi,

Hum... Yes, your home user path is very likely the problem. I mean, when I wrote this code, I didn't expect the user the have a path different than /home/username/ ...

I will see if I can fix this.

Thanks for your report,

[2018-06-03 17:02] heniotierra commented on #137
UPDATED ANSWER ABOVE

[2018-06-03 17:19] KenT2 commented on #137
you can now do sudo apt-get install python-pexpect.

[2018-06-03 17:35] heniotierra commented on #137
Good, that should be enough to fix the installer. :)

[2018-06-04 06:56] heniotierra commented on #137
Fix must be fixed now.

[2018-06-04 06:56] #137 closed

[2018-06-05 11:01] vliegher opened #138 "tboplayer not launching; cannot import name from_file"
Tboplayer is not launching. Neither from the desktop or the menu. When I try to launch it from a terminal window it stops as well. The last line is: Line 74 in <module> from magic import from_file Import Error : cannot import name from_file.
Is there a solution?

[2018-06-05 21:20] heniotierra commented on #138
Yes, just install pip if you don't have it, and the install python-magic lib.

sudo apt-get install python-pip
pip install --user python-magic

I have removed the installation of python-magic through pip, thinking that the package installed by apt-get, which is homonymous would work too, but they must be different libs. That's the reason for the error.

Thank you for pointing that out,

[2018-06-05 21:30] heniotierra commented on #138
Confirmed, python-magic from apt-get repositories is a different version than the one used by tboplayer.

[2018-06-05 21:32] #138 closed

[2018-06-17 05:28] #136 closed

[2018-07-17 07:21] #119 closed

[2018-07-17 09:14] #135 closed

[2018-08-10 15:30] ttqf opened #142 "save playlist: file not containing file paths"
hi, have updated to the latest version and it seems that playlist saving is not working properly. the csv file does not contain file paths, only files names.
it is a clean update, removed all files and config.
![playlist](https://user-images.githubusercontent.com/19590440/43966644-b974d152-9cc2-11e8-8c12-50146fbeeef8.jpg)

[2018-08-10 15:39] heniotierra commented on #142
It will check this when I get some free time. Thank you.

Em sex, 10 de ago de 2018 12:30, ttqf <notifications@github.com> escreveu:

[2018-08-10 15:44] ttqf commented on #142
problem seems to be in this function: `def save_list(self)`
line:
`ofile.write ('"' + (item if 'http' in item else self.playlist.selected_track()[PlayList.LOCATION_BACKUP]) + '","' + self.playlist.selected_track()[PlayList.TITLE]+'"\n')`
should be:
`ofile.write ('"' + (item if 'http' in item else self.playlist.selected_track()[PlayList.LOCATION]) + '","' + self.playlist.selected_track()[PlayList.T

[2018-08-10 20:56] heniotierra commented on #142
Actually, I believe the problem is that there a 'not' operator missing before 'http'. Try this:

ofile.write ('"' + (item if not 'http' in item else self.playlist.selected_track()[PlayList.LOCATION_BACKUP]) + '","' + self.playlist.selected_track()[PlayList.TITLE]+'"\n')

If you make this change and it works as expected, you can send us a patch and I will merge it. Follow the contributions guidelin

[2018-08-11 19:52] #142 closed

[2018-08-11 20:55] ttqf opened #144 "URL playback not working"
hi, tried to play some YouTube. the search function works. however the playback doesn't happen. it's stuck at the [wait] stage. from the debug log:
`
2018-08-11 22:48:18,241 - /opt/tboplayer/debugging.py - ERROR - Traceback (most recent call last):
  File "/opt/tboplayer/tboplayer.py", line 495, in ytdl_state_machine
    self.treat_ytdl_result(url, process[1])
  File "/opt/tboplayer/tboplayer.py",

[2018-08-11 21:48] heniotierra commented on #144
I solved this already. Uploading...

[2018-08-11 21:50] #144 closed

[2018-08-11 21:51] heniotierra commented on #144
Thank you too.

[2018-09-28 16:52] mishailovich opened #146 "Translation"
I can translate in to Russian language.

[2018-09-29 05:57] mishailovich commented on #146
Can you send me the .pot file on my Gmail chumka.list@gmail.com , I don't know how to copy files from GitHub. Just send me please!

[2018-10-25 04:57] heniotierra opened #147 "Translations brake some buttons on certain occasions"

[2018-10-25 05:01] #147 closed

[2018-10-25 18:37] #146 closed

[2018-10-25 20:10] Maksim-Bartoshyk opened #150 "Error while starting to play"
Just installed tboplayer, played a bit with it, then used ./setup uninstall and installed once again.
Have no luck to launch any url from youtube.
If trying to fetch url with ytdl an play directly with omx it works fine.

018-10-25 23:05:33,688 - /opt/tboplayer/debugging.pyc - ERROR - Traceback (most recent call last):
  File "/opt/tboplayer/tboplayer.py", line 1074, in set_progress_bar
    self.p

[2018-10-25 21:00] Maksim-Bartoshyk commented on #150
Inspected debug and found that omx is called with -o property, but actual output is not set. I deleted ~/.tboplayer folder and this resolved the issue.
I remember that I played with audio output setting before the error occured and at some point I got all options for audio as grayed out and was not able to change them.

Unfortunately I don't remember actual steps to reproduce the issue but at some

[2018-10-27 11:37] yutayu commented on #150
python /opt/tboplayer/tboplayer.py %F
2018-10-27 20:35:28,896 - /opt/tboplayer/debugging.pyc - DEBUG - started logging to file "/home/pi/.tboplayer/tboplayer.log"
2018-10-27 20:35:42,969 - /opt/tboplayer/debugging.pyc - DEBUG - >play track received
2018-10-27 20:35:42,971 - /opt/tboplayer/debugging.pyc - DEBUG - starting omxplayer with args: " -o hdmi  --vol 0"
2018-10-27 20:35:45,661 - /opt/tbopl

[2018-10-27 12:11] heniotierra commented on #150
@yutayu Are you also using omx options field? If yes, which options are you using? How to reproduce the issue?

[2018-10-27 12:29] heniotierra commented on #150
@Maksim-Bartoshyk What do you mean, the actual output is not set?

[2018-10-27 12:37] yutayu commented on #150
no options when I use omxplayer command line.
and depends on video kind.

is error I thought.

[2018-10-27 17:32] heniotierra commented on #150
You mean some file extensions don't cause this problem?

[2018-10-27 21:35] yutayu commented on #150
not extensions.
depends on file. some mp4 file occurs error not all mp4's

[2018-10-28 01:34] heniotierra commented on #150
@yutayu
Please, send me the file that makes the program fail. I'll see what I can do when I have more time. My email is heniotster at gmail dot com.

[2018-10-28 02:08] yutayu commented on #150
@heniotierra no time line mp4.
sorry, This video is 1.5G. so huge.  and I couldn't  cut it , because no time line.

[2018-10-28 18:51] heniotierra commented on #150
Oh, ok, I will check those things. Thank you both!

[2018-10-30 06:08] heniotierra commented on #150
@Maksim-Bartoshyk Omxplayer has an option "both" for audio device, meaning analog and hdmi output at the same time, so I changed the code to replace the option "auto" to "both", since "auto" isn't even a device option, it merely forces either analog or hdmi. And "both" mode should work in every Raspberry Pi model with firmware from around 2014 or later. This also fixes your issue.

[2018-10-30 06:15] heniotierra commented on #150
@yutayu Now, your problem is another one, and it will take more time to be solved, because at the moment I don't have a PSU to start my RPI and test tboplayer with the file you sent me, since the PSU I used died a few months ago. :cry:

[2018-10-30 06:49] heniotierra commented on #150
@Maksim-Bartoshyk Can you confirm that the code in the branch [issue150](https://github.com/KenT2/tboplayer/tree/issue150) fixes you problem?

[2018-10-30 14:16] yutayu commented on #150
/home/pi/Documents/tinyproxy.conf

Never mind .
I glad to see you noticed that errors. :)

[2018-10-30 14:19] Maksim-Bartoshyk commented on #150
Will try some time this week...

[2018-10-31 07:09] Maksim-Bartoshyk commented on #150
Works fine, thanks.

[2018-10-31 17:40] heniotierra commented on #150
No problem, you're welcome.

[2018-10-31 17:40] #150 closed

[2018-10-31 17:41] heniotierra opened #152 "'begin / end track paused' option fails with certain files"
ref: https://github.com/KenT2/tboplayer/issues/154

[2018-11-17 02:46] yutayu opened #154 "Playing failed with Experimental OpenGL driver."
tboplayer
2018-11-17 11:43:26,578 - /opt/tboplayer/debugging.pyc - DEBUG - started logging to file "/home/pi/.tboplayer/tboplayer.log"
2018-11-17 11:44:13,656 - /opt/tboplayer/debugging.pyc - DEBUG - >play track received
2018-11-17 11:44:13,661 - /opt/tboplayer/debugging.pyc - DEBUG - starting omxplayer with args: " -o hdmi  --vol -3800"
2018-11-17 11:44:16,267 - /opt/tboplayer/debugging.pyc - DEB

[2018-11-17 02:46] yutayu commented on #154
2018-10-28 21:38:43,254 - /opt/tboplayer/debugging.pyc - ERROR - Traceback (most recent call last):
  File "/opt/tboplayer/tboplayer.py", line 1074, in set_progress_bar
    self.progress_bar_step_rate = self.omx.timenf['duration']/self.progress_bar_total_steps
KeyError: 'duration'

2018-10-28 21:39:12,182 - /opt/tboplayer/debugging.pyc - ERROR - Traceback (most recent call last):
  File "/opt/tbop

[2018-11-17 03:11] heniotierra commented on #154
Hi,

Does the video play, however? Seems like there's some kind of problem related the Dbus. Dbus is necessary to control omxplayer. Maybe you're executing two instances of OMXPlayer at the same time, sending "play" command twice too quickly? If you close tboplayer and then run from the terminal:

                sudo pkill omxplayer

And then, if you run tboplayer again, do the same happen?

[2018-11-17 03:43] yutayu commented on #154
I tried. but no output.

omxplayer /home/pi/Desktop/FKl1ZoCO9YXHEuFp.mp4
Video codec omx-h264 width 720 height 1280 profile 100 fps 30.000000
Audio codec aac channels 1 samplerate 44100 bitspersample 16
Subtitle count: 0, state: off, index: 1, delay: 0
V:PortSettingsChanged: 720x1280@30.00 interlace:0 deinterlace:0 anaglyph:0 par:1.00 display:0 layer:0 alpha:255 aspectMode:0
have a nice day ;)

[2018-11-17 03:44] yutayu commented on #154
Sound is coming , but Videos is not.

[2018-11-17 03:51] yutayu commented on #154
and This causes under experimental OpenGL driver from raspi-config.
Can you try it?
Any video output fails and sound is good.

[2018-11-17 04:37] yutayu commented on #154
okok don't bother it.
omxplayer doesn't play it , too.
omxplayer problem also.

[2018-11-17 19:05] heniotierra commented on #154
ok

[2018-11-17 19:05] #154 closed

[2018-12-05 15:06] edcarlo157 opened #155 "Subtitles not loading from internet stream"
Subtitles aren't been loaded from internet streams, I tried with youtube and with crunchyroll and no subtitles are available.

[2018-12-08 23:14] heniotierra commented on #155
That's not an implemented feature. But it's an interesting thing to have.

[2018-12-14 05:11] heniotierra commented on #155
This could be done by simply downloading the subtitle, temporarily saving it to the disk, and then passing it to omxplayer. However, since RPIs use sd memory, and these kind of memory have limit to how many times they can be written to, the best option is to create a virtual directory to store the downloaded subtitle.

[2018-12-15 13:17] heniotierra commented on #155
https://github.com/KenT2/tboplayer/pull/156 implements this feature

[2018-12-15 13:17] #155 closed

[2018-12-21 06:23] heniotierra opened #159 "subtitles must be pre-loaded"

[2019-01-09 14:07] heniotierra commented on #152
Closing, since I was unable to reproduce the issue.

[2019-01-09 14:07] #152 closed

[2019-01-09 14:12] heniotierra opened #162 "problems in conversion of subtitles"

[2019-01-09 14:19] #162 closed

[2019-01-11 18:04] heniotierra opened #164 "Install vtt_to_srt as dependency in setup"

[2019-04-13 23:58] heniotierra opened #169 "Port to Python 3"
Since Python 2 is to be discontinued in Jan 2020, TBOPlayer should be ported to Python 3.

[2019-06-03 13:33] heniotierra opened #170 "remove youtube-dl auto-update as default option"
Turning on this by default may cause users to mistrust the application, so it is probably best to leave it off by default, with a warning in the README.

[2019-06-11 16:33] yutayu opened #171 "After omxplayer updating,Tboplayer got full screen and no click accepting."
pi@raspberrypi:~ $ apt show omxplayer
Package: omxplayer
Version: 20190607+gitf06235c-1
Status: install ok installed
Priority: optional
Section: video
Maintainer: Serge Schneider <serge@raspberrypi.org>
Installed-Size: 637 kB
Depends: libasound2 (>= 1.0.16), libavcodec57 (>= 7:3.2.14) | libavcodec-extra57 (>= 7:3.2.14), libavformat57 (>= 7:3.2.14), libavutil55 (>= 7:3.2.14), libc6 (>= 2.4), libdbu

[2019-06-11 17:48] heniotierra commented on #171
Hi @yutayu ,

You mean fullscreen works, but clicking over the screen while playing is unresponsive?

Regards,

[2019-06-11 18:05] yutayu commented on #171
@heniotierra :)
yes. and also no key response.
I didn't edit setting.

[2019-06-11 23:24] heniotierra commented on #171
Please, turn the debugger option on, restart the player and try that again. Then post the contents on the logs and the terminal. Logs are stored in .tboplayer folder in you user home.

[2019-06-12 00:00] yutayu commented on #171
![2019-06-12-085411_1280x1024_scrot](https://user-images.githubusercontent.com/44407536/59314401-2908e800-8cf0-11e9-899f-e68457e358bf.png)

pi@raspberrypi:~ $ tboplayer
2019-06-12 08:58:44,643 - /opt/tboplayer/debugging.pyc - DEBUG - started logging to file "/home/pi/.tboplayer/tboplayer.log"
2019-06-12 08:59:05,587 - /opt/tboplayer/debugging.pyc - DEBUG - >play track received
2019-06-12 08:59:05,

[2019-06-12 00:01] yutayu commented on #171
Log file is there , but is empty.

[2019-06-12 00:02] yutayu commented on #171
I ran from terminal , full screen , esc key accept.
This is not original issue.

[2019-06-12 00:29] heniotierra commented on #171
This kind of problem is usually related to the dBus layer of the system, when tboplayer can't connect to omxplayer. Idk, I'll have to have a llok. But I'll have to find some free time for that, it's not happening so soon.  For now, if that works, maybe you can downgrade omxplayer.

[2019-06-12 05:13] yutayu commented on #171
@heniotierra I see.
I don't hurry :)

[2019-08-05 00:20] yutayu commented on #171
This issue is fixed by update on raspbian buster.

[2019-08-05 00:20] #171 closed

[2019-12-28 01:01] heniotierra commented on #169
Got the GUI working for python3. It's in the following branch: https://github.com/KenT2/tboplayer/tree/py3_version

[2020-01-02 01:29] #169 closed

[2020-01-02 02:07] heniotierra commented on #134
There's a reason for keeping this behaviour, which is supporting slower devices (RPi's 1 and 2).

[2020-02-10 07:14] Kingwulin opened #175 "when I using, some error come,would you please help"
once I click the button stop or select the mp4 file,there is some error below ,also,the file can't play

2020-02-10 07:10:00,174 - /opt/tboplayer/lib/debugging.py - ERROR - Traceback (most recent call last):
  File "/opt/tboplayer/lib/debugging.py", line 58, in __call__
    return self.func()
TypeError: set() missing 2 required positional arguments: 'first' and 'last'

[2020-03-18 21:13] piningforfjords commented on #175
I'm seeing positional arguments as well.  I thought it might go away when I added some items to the list.  I notice the following error once I have some list elements.  These occur when an item is selected in the list:

2020-03-18 17:06:02,626 - /opt/tboplayer/lib/debugging.py - ERROR - Traceback (most recent call last):
  File "/opt/tboplayer/lib/debugging.py", line 57, in __call__
    return sel

[2020-03-18 21:27] heniotierra commented on #175
Sorry guys, didn't see your messages before! I will try to understand what is going on! Thank you!

[2020-03-18 21:29] heniotierra commented on #175
BTW, are you able to play the files?

[2020-03-18 22:12] piningforfjords opened #176 "Setup requires some additional details"
I found several things were needed to make the install work.  Without these steps the UI would never appear.  No errors showed themselves during installation (except the libav-tools below) or while trying to run the program.

alias python="python3"                          # change default to python3
The following changes were made to the manual install
sudo pip3 install pexpect

[2020-03-18 22:59] piningforfjords commented on #175
No I wan't able to play the files.  I was able to play them on the command line directly with omxplayer.

[2020-03-18 23:41] piningforfjords commented on #175
In case it is useful I used the OMX menu to get details on one of the list items.  Here is the dialog that resulted.  Gave the file and path correct but other elements were empty.
![2020-03-18-192823_1920x1080_scrot](https://user-images.githubusercontent.com/6694831/77017296-7d608880-6950-11ea-816c-ed115e229c71.png)

[2020-03-18 23:50] piningforfjords commented on #176
Here are the details when trying to install libav-tools:

Reading package lists... Done
Building dependency tree
Reading state information... Done
Package libav-tools is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source
However the following packages replace it:
  ffmpeg

[2020-03-19 01:47] heniotierra commented on #175
I think this is some problem with Tkinter, so I went ahead and opened a bug in cpython's Tkinter's bug tracker.

https://bugs.python.org/issue40011?@ok_message=file%2048982%20created%0Ahgrepo%20387%20created%0Amsg%20364586%20created%0Aissue%2040011%20created&@template=item

[2020-03-19 03:50] heniotierra commented on #175
@piningforfjords @Kingwulin for now, I had to rollback the base branch to the point where Python 2 version was working. Hopefully, the issue described in the link above (in Python's issue tracker) will be fixed in cpython and I will be able to use Tkinter's Events. Either that, or the whole GUI will have to be rewritten, maybe using another GUI lib.

[2020-03-20 05:34] heniotierra commented on #176
Actually, these problemas you mentioned are due to Python 2 being the main version of Python in your OS. In the setup I assumed you are using Python 3 as the base Python version.

[2020-03-20 12:06] heniotierra commented on #175
The Python 3 version can be found here:
https://github.com/KenT2/tboplayer/tree/py3_version

[2020-03-21 05:08] heniotierra commented on #175
@Kingwulin @piningforfjords The error you two mentioned should be fixed by now. However, there might still be other issues. If you can test it, that would be great! I also fixed the setup script, hopefully. I will only merge the changes in the master branch after someone can confirm it works. As I mentioned, you can find the Python 3 version here:
https://github.com/KenT2/tboplayer/tree/py3_versio

[2020-03-21 05:25] piningforfjords commented on #175
Cool will try it out tomorrow.  The python 2 version works well by the way.

[2020-03-21 05:30] piningforfjords commented on #176
Raspbian ships with python 2.7 as the default.  It is worth mentioning switching that over in the instructions or lots of people will get tripped up.

[2020-03-21 06:23] heniotierra commented on #175
Good!

You can use the commands below to install the Python 3 version through the setup script, but that will overwrite the Python 2 version currently installed in your system.

    cd ~ && wget https://github.com/KenT2/tboplayer/tarball/py3_version -O - | tar xz &&
    cd KenT2-tboplayer-* && chmod +x setup.sh && ./setup.sh

If you prefer avoiding overwritting the Python 2 version, you can copy-p

[2020-03-21 08:25] heniotierra commented on #176
You're right, of course. I did as you suggested, adding aliases for python and pip.

[2020-03-21 17:43] piningforfjords commented on #175
Nah that is no way to test.  I burned a new Raspbian image.  Everything seems to run cleanly and all the functionality I checked worked well.  Thanks.  The setup script leaves the user in the /opt/tboplayer directory.  One suggestion is to kick them back to ~ when everything is installed.

[2020-03-22 02:29] heniotierra commented on #175
Good suggestion! Thank you too! :)

[2020-03-22 02:29] #175 closed

[2020-03-22 02:29] #176 closed

[2020-03-22 18:41] heniotierra opened #179 "Drag n Drop files feature not working in Python 3 version"
petasis's tkdnd pakage does not work for python 3 tkinter, and tk's dnd is experimental and very limited, not including funcionationality for drag n droping files over widgets. So for now and until that's supported by tk natively, TBOPlayer doesn't have such functionality anymore. If someone really wants it, please use Python 2 version, which can be found here: https://github.com/KenT2/tboplayer/t

[2020-05-25 21:37] mikcaren opened #180 "progress bar error / rasberry pi 4 / python 3"
Thanks for a great library.  I'm trying to run tboplayer on a rasberry pi 4 and received an "Error trying to set progress bar step" error. Here are the details:

pi@raspberrypi:~ $ python3 /opt/tboplayer/

starting omxplayer with args: " -o local  --vol 0  "

      State machine: omx_starting
            <start play signal received from omx
      State machine: omx_playing started
Error trying to

[2020-05-25 22:24] heniotierra commented on #180
Hi @mikcaren ,

Please, turn the debug option on, restart the player, reproduce the error, and then check what's in your debug.log file saved under /opt/tboplayer

[2020-05-25 22:55] mikcaren commented on #180
Thank you.  Yes - I was able to turn on the debug option, restart the player and reproduce the error.  Here is what was in the debug.log file in the /opt/tboplayer directory:

(14/05/2020 14:35:03): 'duration'
(14/05/2020 14:35:04): 'duration'

Thanks for the quick help and happy to do more tests etc.

[2020-05-25 23:16] heniotierra commented on #180
Ok, thank you for the report! I will check this out as soon as I can.

[2020-05-25 23:31] heniotierra commented on #180
Tell me, are you able to play other files? Or this happens with any files you try?

[2020-05-25 23:51] mikcaren commented on #180
I just tried it with a video I re-encoded with VLC and got the same error message.  I'm happy to try another file if you have any suggestions on types / formats. Also, I'm am launching the app from the terminal while I'm in the Desktop directory ... and noticed it's actually creating the current  debug.log file on the desktop.  Here are the contents:

(25/05/2020 14:32:44): 'duration'
(25/05/2020

[2020-05-25 23:58] heniotierra commented on #180
Alright! In the meantime, you can use the python 2 version, that can be found here:

    https://github.com/KenT2/tboplayer/tree/py2_version

It should be working fine.

[2020-05-26 00:06] mikcaren commented on #180
OK - thank you.  Yes -- will try the python 2 version.  I appreciate the suggestion.

I did a quick test on a .wav, .mp3 and .aiff files.  All had the same 'duration' issue and I was also able to play them with the command line omxplayer.

Thanks again for a great library and happy to test anytime.

[2020-05-26 00:29] mikcaren commented on #180
I was able to install the python 2 version with the installer and it works great!  Thank you!

Let me know if there are any tests I can / should run with the python 3 version when the time is right.  Thanks again!

[2020-05-26 00:38] heniotierra commented on #180
Right, I will let you know. Glad I got the Python 2 version working. :)

[2020-06-18 03:43] alazyworkaholic opened #181 "Won't start - python 2 vs 3 confusion, tkinter.simpledialog.Dialog error"
cloned repo, setup.sh ran without issues, then
[code]

The one-line script at /usr/local/bin/tboplayer pointed to a missing file. I found a file of the same name in libs so I sent it there via a symlink. Then it complains about the simpledialog module. My python's pitiful, but `from tkinter import simpledialog` worked in my python3 shell, which believes simpledialog.Dialog exists, but yielded the

[2020-06-18 03:54] heniotierra commented on #181
Hi, @alazyworkaholic ,

The python 3 version should be executed with

    python3 /opt/tboplayer/

However, a user reported an issue with the progress bar in this python3 version, although it works for other people. If you still run into issues after using the command above, make sure you're using python 3.7, since tboplayer was developed under python 3.7. If even then it fails, you still have the

[2020-06-25 22:00] cripava opened #182 "No module named 'pexpect'"
hi there .

i followed the instruction on git . i tried to run it but i'm gting the following error

[code]

[2020-06-25 22:17] cripava commented on #182
so i solved typing

`sudo pip3 install pexpect`

maybe you want to know to add it on the dependencies

[2020-06-26 16:02] heniotierra commented on #182
pexpect is already in the dependencies. Maybe some error occurred during the installation and it wasn't installed.

[2020-07-10 08:18] MichaelJWells opened #183 "set progress bar error problem"
I get the following message when I try to run a video in tboplayer: "**Error trying to set progress bar step**" and then omxplayer exits **without playing** the video.

I have a new installation of Raspian Buster on a RPI 2 Rev B and I have followed all the manual install steps for the tboplayer which installed without error. I run the tboplayer from the command line with the following command: py

[2020-07-10 08:37] heniotierra commented on #183
I don't have access to a Rapsberry Pi ATM, so I cannot fix this. My suggestion to try to circumvent it is making sure you're using python 3.7 or using the python 2 version. If you want to try to debug/fix it, I believe it might have something to do with the current time extraction in the method `_get_position` in lib/Omxplayer class. Maybe the position attribute is not being set correctly.

[2020-07-13 06:35] MichaelJWells commented on #183
$ python3 --version
Python 3.7.3
$ python --version
Python 2.7.16

I installed the tboplayer for python2 and the tboplayer is now working though I imagine with fewer bells and whistles than the python3 version of tboplayer.

Since you do not have access to a RPI, I assume that development on this project is mostly at a standstill?

Unfortunately, I have only a rudimentary level of knowledge of pyt

[2020-07-19 13:41] heniotierra commented on #183
I expected to have access to my RPi in the next week.

[2020-09-21 19:19] heniotierra opened #184 "Problem with Youtube search"
The youtube search feature does not work ATM due to youtube having changed their code base. This should be fixed soon.

[2020-09-21 22:08] Botspot opened #185 "Icon request"
I am developing a RPi app store and I plan to include this software.
When users click "install", the app store will then clone your repository and run your recommended install commands.

One problem though: it needs a unique icon. Does tboplayer have an icon? If not then I'll have to leave it blank.

[2020-09-22 01:09] heniotierra commented on #185
That's nice! I suggest you add the python 2 version, since it's much more stable.
Well, I'm not a good designer, but I can make a simple icon for the program, sure!

[2020-09-22 01:24] Botspot commented on #185
Thank you! I myself have designed several good-looking logos, and if you'd like I can give feedback & offer suggestions.

Speaking of stability, a while back I had an issue searching youtube with tboplayer where the search results would never show up. Are you aware of that bug? If not, never mind and don't worry about it.

[2020-09-22 01:29] heniotierra commented on #185
Sure, I appreciate the help on the icon!

I am aware of this bug. The cause is that Youtube changed its search results page, so the script that was made to crawl it does not work anymore. I opened an issue reporting this problem today. This also happens in the python 2 version.

[2020-09-22 01:31] Botspot commented on #185
Great! You know what, I could design the whole icon for you if you want. Just give me a rough idea of what it should look like,

[2020-09-22 01:39] heniotierra commented on #185
That would be great! I thought of something really simple, maybe with a light blue font and transparent background, like this.

![image](https://user-images.githubusercontent.com/4629295/93837036-1bfcd780-fc5b-11ea-8d72-ee370832b496.png)

[2020-09-22 02:12] Botspot commented on #185
What does TBO stand for?

[2020-09-22 02:46] heniotierra commented on #185
Good question. Maybe @KenT2 can answer that. hehe

[2020-09-22 06:19] KenT2 commented on #185
Thompson Baiter Omxplayer

[2020-09-22 13:21] Botspot commented on #185
I'm afraid your logo won't be suitable as an icon. It's a good start, but we have to remember it must be recognizable at small sizes.
This square below is the size of an icon.
![24x24](https://user-images.githubusercontent.com/54716352/93887328-2eebc800-fcac-11ea-8b2d-82163dffeb00.png)
And scaling yours down would make it hard to read:
![24x24](https://user-images.githubusercontent.com/54716352/93

[2020-09-22 15:18] Botspot commented on #185
OK, let me know what you think of these:
![tbo1](https://user-images.githubusercontent.com/54716352/93902129-d7a22380-fcbc-11ea-9bfd-b31cf6c33c8f.png)
![tbo2](https://user-images.githubusercontent.com/54716352/93902132-d83aba00-fcbc-11ea-9ac9-f8b161047d78.png)

[2020-09-22 15:44] Botspot commented on #185
![2020-09-22-104157_1280x1024_scrot](https://user-images.githubusercontent.com/54716352/93905389-8b58e280-fcc0-11ea-997c-a69dbb621c59.png)

[2020-09-22 16:11] heniotierra commented on #185
Ooh, nice! I like the middle one better.
![image](https://user-images.githubusercontent.com/4629295/93908135-a6355200-fcd4-11ea-91f0-c1e3b3d4622e.png)

BTW, you read my mind! I was thinking of something along these lines! :D

But I'd use the color scheme in here

![image](https://user-images.githubusercontent.com/4629295/93908258-ccf38880-fcd4-11ea-846a-7ab447078ee5.png)

because using the inside

[2020-09-22 16:25] Botspot commented on #185
Well, it **is** a reference to YouTube. :) Because TBOplayer can play youtube.
I prefer the outer circle being black, as it comes across more as an O than otherwise.

If you don't like the reference to YouTube, we could change the color:
![2020-09-22-112350_1280x1024_scrot](https://user-images.githubusercontent.com/54716352/93910079-34eea280-fcc6-11ea-8367-61c3f6e87fb3.png)

[2020-09-22 17:08] heniotierra commented on #185
Well, yes, it can play Youtube, but it can also play all of the most popular streaming services (last time I checked), that's why I thought of not making this reference. But I loved the icon! And I guess the reference doesn't hurt.

I like these two:
![image](https://user-images.githubusercontent.com/4629295/93913481-881f2000-fcdb-11ea-9b62-fb484d0e26c3.png)

![image](https://user-images.githubuse

[2020-09-23 20:58] Botspot commented on #185
@KenT2 @heniotierra Have we made a decision yet?

[2020-09-23 22:29] heniotierra commented on #185
I guess we can go with the red one. :)

[2020-09-23 22:44] Botspot commented on #185
OK. Attached is a zip file containing a bunch of sizes of your new icon.
Thank you.
[tbo.zip](https://github.com/KenT2/tboplayer/files/5272362/tbo.zip)

[2020-09-23 22:52] heniotierra commented on #185
Thank YOU for your work!

[2020-09-23 22:54] heniotierra commented on #185
@Botspot please, send an email if you need anyhting specific from me to make TBOPlayer installer work on the store you're building. It's heniotster at gmail dot com.

[2020-10-03 17:34] Botspot commented on #185
I sent you an email over a week ago. Have you seen it?
Basically, I'd like to see TBOPlayer ship with the new icon. (it would look a lot prettier than the python logo it has now)
And I also noticed that after installation, a mystery menu button appeared: Pure Data. What is it, and can `puredata` be uninstalled safely?

[2020-10-03 17:48] heniotierra commented on #185
Hi @Botspot ! Your email never arrived.
Puredata? I don't see how that could be related to TBOPlayer. Try to open the shortcut with the text editor to see its contents. You can find such files under path `/usr/share/applications`.
About the icon, I should do that this weekend. I just haven't been having much free time as of late.

[2020-10-03 17:54] heniotierra commented on #185
Also, for transparency sake, I must say I'll dump the Python 3 version in favor of the python 2 one. The reason for that being that  OMXPlayer will be discontinued as can be seen in its github page, thus I don't think it's worth investing much in a Python 3 version. However, I should still fix and maintain the Python 2 version as long as OMXPlayer still works and has users. The efforts put into OM

[2020-10-03 18:41] Botspot commented on #185
The Pure Data thing appeared in the menu at the same time I installed TBOPlayer. I would assume one of your APT dependencies managed to install it.

Looking forward to the icon change. :)

OK. Well I've already taken your suggestion and am using the Py2 version.

[2020-10-03 20:43] heniotierra commented on #185
Maybe it's some dependency doing that, yeah. Can you try to investigate that button? If it's showing in the menu, it's most probably present in the path I mentioned. By looking as its code through the text editor you should be able to know its source. You can paste the content here too, so I can take a look.

[2020-10-03 21:12] Botspot commented on #185
I can check it later, but it did go away after I ran:

    sudo apt purge puredata

[2020-10-03 21:31] Botspot commented on #185
Okay, I found it.
The rogue menu button is created at `/usr/share/applications/puredata.desktop`.
I uninstalled the `puredata` package, then ran the tboplayer install script. Sure enough, puredata was there again.

[2020-10-03 21:32] Botspot commented on #185
And this is the contents of `/usr/share/applications/puredata.desktop`:
[code]

[2020-10-03 21:36] heniotierra commented on #185
Ok, thanks. I'll look into that.

[2020-10-03 23:03] Botspot commented on #185
Yep - looks to be a dependency problem.
When I install TBO's dependencies manually beforehand, I get:
[code]

[2020-10-03 23:41] Botspot commented on #185
BINGO! I'll let the apt output speak for itself:
[code]
(I found that the package `tkdnd` is to blame, as it's the one that installs `puredata`)

[2020-10-03 23:48] Botspot commented on #185
An update: using `apt` with `--no-install-recommends` for `tkdnd` appears to work OK for TBOPlayer.

[2020-10-04 00:29] heniotierra commented on #185
That's nice @Botspot ! Thank you again for your help! :)

[2020-10-04 22:33] heniotierra commented on #185
@Botspot , will you need any icon size different 24x24? If not, I'll leave only the images with this size and another one for the readme.

[2020-10-04 23:32] heniotierra commented on #185
@Botspot The changes were merged. Next I'll fix the Youtube search and move the py2_version branch to master.

[2020-10-04 23:32] #185 closed

[2020-10-04 23:56] Botspot commented on #185
Not sure what you mean

[2020-10-04 23:58] heniotierra commented on #185
I meant for the app store. I left three icon sizes there: 24x24, 48x48, 128x128.

[2020-10-05 00:05] Botspot commented on #185
Oh don't worry. I have all the icon sizes I need.

[2020-10-05 02:44] Botspot commented on #185
BTW, here's my app store: https://github.com/Botspot/pi-apps

[2020-10-05 03:05] Botspot commented on #185
Hey, could you also add the icon to the running program's icon? (the icon that's displayed in the panel while TBOplayer is running)
Screenshot below:
![2020-10-04-220007_1920x1080_scrot](https://user-images.githubusercontent.com/54716352/95036477-b1ea2680-068d-11eb-8574-fc73b7089452.png)

[2020-10-05 03:06] heniotierra commented on #185
Cool, will have a look. Thank you for the link! :)

Screenshot below:
Yep, it's in my to-do list.

[2020-10-05 03:25] heniotierra commented on #185
@Botspot There it is: Fixed the youtube search feature, and added the icon to the window. Tomorrow I should replace the master branch.

[2020-10-05 03:31] heniotierra commented on #185
Oh, and it's such a great idea that app of yours!

[2020-10-05 03:34] heniotierra commented on #185
I'll update this thread when I replace the master branch code.

[2020-10-05 13:47] Botspot commented on #185
It's not working for me.
[code]

[2020-10-05 13:55] heniotierra commented on #185
@Botspot DId you run the setup again? The new required lib can be installed with:

    pip install --user youtube-search-python

[2020-10-05 17:22] heniotierra commented on #185
@Botspot  there was a problem with this package installation in the setup script. That should be fixed now.0

[2020-10-12 17:13] Botspot commented on #185
Thank you one more time for all your help.
For future reference, I'm uploading the original vector TBOPlayer icon. It's in SVG format so you could turn it into any size icon you could ever want. (or change the colors if you had a SVG editor)
[tbo.svg.zip](https://github.com/KenT2/tboplayer/files/5366484/tbo.svg.zip)

[2020-10-19 17:01] DRAGxMEx2xHELL opened #188 "Full Screen bug?"
HI

Appears sometimes when i play a YouTube video through TBOPlayer it will go full screen by default unless i play the video again, then it will pop up as windowed. Sometimes in fullscreen my mouse & keyboard would become unresponsive where id have to pull the power from the wall as a buttons, and combinations would not respond. Not sure if this is a issue, or i overlooked something.

[2020-10-19 17:48] heniotierra commented on #188
Hi,

Are you using the python 3 or pyhlthon 2 version?

Em Seg, 19 de out de 2020 14:02, DRAGxMEx2xHELL <notifications@github.com>
escreveu:

[2020-10-19 18:33] DRAGxMEx2xHELL commented on #188
Sorry not sure, was using a raspberry pi 4 with TwisterOS 1.8.4

[2020-10-19 22:54] heniotierra commented on #188
@DRAGxMEx2xHELL Which version date is in the "about" window? BTW, thank you for reposting this.

[2020-10-19 23:30] DRAGxMEx2xHELL commented on #188
February 5th 2019 it appears

[2020-10-19 23:34] heniotierra commented on #188
Ok, I'll try and reproduce this.

[2020-10-20 02:53] DRAGxMEx2xHELL commented on #188
i ran into it 3 times over the course of like 2 hours.

[2020-10-21 15:41] DRAGxMEx2xHELL commented on #188
upon looking into it, the unresponsive mouse and keyboard as on my end, but other than that, it going full screen upon first video, seems i need to repeatedly hit esc for it to exit, unless i missed something.

[2020-10-21 16:09] heniotierra commented on #188
This only happens for streaming?

Em Qua, 21 de out de 2020 12:41, DRAGxMEx2xHELL <notifications@github.com>
escreveu:

[2020-10-21 19:06] DRAGxMEx2xHELL commented on #188
Havent test anything else besides youtube streaming, sometimes get full screens where i cant exit, some i can, seems random. Is there any commands to exit full screen already in place?

[2020-10-21 19:24] heniotierra commented on #188
I think the standard keyboard commands from omxplayer should work just
fine. To quit, hit q.

Em Qua, 21 de out de 2020 16:06, DRAGxMEx2xHELL <notifications@github.com>
escreveu:

[2020-10-23 00:49] heniotierra commented on #188
@DRAGxMEx2xHELL Sorry, I misread you question. To exit full screen, hit F11. If that does not work, it probably means an issue with dbus. This kind of problem generally happens when there are 2 instances of omxplayer running at the same time. To force OMXPlayer to open in windowed mode, you can also try to set the optional arguments (OMXplayer options) in the config screen. For example: --win 1,1,

[2020-10-24 17:58] DRAGxMEx2xHELL commented on #188
Tried few things, and Q or F11 didnt let me exit full screen when it auto pops up at times.

[2020-10-25 22:14] heniotierra commented on #188
Ok, this PR fixes it: https://github.com/KenT2/tboplayer/pull/189
If you have any other problem, please, reach out!
And thank you again, @DRAGxMEx2xHELL . :)

[2020-10-25 22:14] #188 closed

[2020-10-25 23:27] heniotierra commented on #185
Hey @Botspot , I think tkinter does not allow SVG for window icons, at least the python2 tkinter.

[2020-10-25 23:47] Botspot commented on #185
I understand that. But, a SVG comes in useful because SVGs aren't made up of pixels: instead they are vectors. So with a SVG image, you can *export* it to any size PNG you want, and the edges of the shapes will always stay clear.

Let's say 5 years down the road: you may want a 1024x1024 icon, but I am long gone. With a SVG, it's really easy: just opent he SVG in Inkscape or an equivalent, and you

[2020-10-26 00:06] heniotierra commented on #185
@Botspot  OFC, that's why I said it might come in handy in the future.
BTW, just to let you know, I replaced the master branch with the python 2 version as I said I would.

[2020-10-26 00:34] #184 closed

[2020-10-26 00:35] #183 closed

[2020-10-26 00:35] #182 closed

[2020-10-26 00:35] #181 closed

[2020-10-26 00:35] #180 closed

[2020-10-26 00:36] #179 closed

[2020-11-28 03:19] Botspot opened #190 "SyntaxError: invalid syntax"
Someone just opened an issue on Pi-Apps reporting that TBOPlayer is not working.

See: https://github.com/Botspot/pi-apps/issues/111
Below I've copied the first post from there:

[2020-11-30 18:45] fabianmendes commented on #190
Hi, guys. You can now close this issue! Thanks

[2020-11-30 18:48] #190 closed

[2020-11-30 18:50] fabianmendes opened #192 "auto Fullscreen, minimize or litte window"
Hi, excuse me I would like to play videos and audios (I am not tried yet downloading only audio) in the background while working but it gets into fullscreen automatically, also, when it does it, It is not intuitive to exit, and while it is fullscreen clicking anywhere is equivalent to clicking on whatever is behind the fullscreen instead of the fullscreen (It's like it is working as a screensaver

[2020-11-30 20:38] heniotierra commented on #192
Windowed mode does not work for you? It should word as default behavior.

[2020-11-30 21:36] fabianmendes commented on #192
It plays on fullscreen automatically. Let me try again anyways

On Mon, Nov 30, 2020, 4:38 PM heniotierra <notifications@github.com> wrote:

[2020-11-30 22:48] fabianmendes commented on #192
Ok, I could disable de fullscreen at play, it's in options.. Otherwise, I'm still unavailable to minimize it and it keeps in front; the worst thing: I can't resize it at all. :L (by the way, this is an amazing app, don't misundertand me hehe))

[2020-12-01 00:18] heniotierra commented on #192
What happens when you try to resize the video? You should be able to resize by clicking and dragging the first mouse button over the button shown in the printscreen below. Maybe you can't see it because you have a small sceen. But you should see it if you drag the screen around.
![image](https://user-images.githubusercontent.com/4629295/100680604-a85d0200-3350-11eb-8d1a-d6371a47dc0d.png)

I'm glad

[2020-12-02 21:25] Botspot opened #193 "Could you make omxplayer output to the selected ALSA output device?"
Title says it all. I'd like if omxplayer obeyed my ALSA setup and outputted to the right audio device.

[2020-12-02 21:36] heniotierra commented on #193
I guess I can try. ;)

[2020-12-06 16:35] heniotierra commented on #193
@Botspot When do you suggest we do this? Upon a media playback? I'm thinking of doing that configuration upon first execution.

[2020-12-06 21:03] Botspot commented on #193
What ever option is easiest I suppose. Doesn't omxplayer have a built-in ALSA output device flag?

[2020-12-06 21:16] heniotierra commented on #193
Yeah, I know, and tboplayer offers an ALSA output option. I not sure I
understand your request. My ideia is getting the current output port for
audio in the OS and using that for automatically setting OmxPlayer output.
I may have misunderstood your requst as I have very little knowlegde of
working with ALSA.

Em Dom, 6 de dez de 2020 18:03, Botspot <notifications@github.com> escreveu:

[2020-12-06 21:33] Botspot commented on #193
Basically, here's what happened:

- I have the Pi's analog output selected as the default audio output via ALSA.
- But TBOPlayer appears to ignore that output - it's always sent sound through my HDMI screen.

So I thought it might be a good idea if you were to change that, and make tboplayer obey the ALSA standard.

[2020-12-06 21:36] Botspot commented on #193
Okay sure enough, there's a setting for it. And it works fine.
![2020-12-06-153412_1920x1080_scrot](https://user-images.githubusercontent.com/54716352/101292999-8e9c3e80-37d8-11eb-9ca7-7a72b06f83ca.png)

So now I'm wondering: Why isn't ALSA output the default on a fresh tboplayer installation? (to me it seems like using alsa's selected output device would prove to satisfy most users better)

[2020-12-06 21:39] heniotierra commented on #193
Maybe your're right. I've always used HDMI output.

[2020-12-06 21:50] fabianmendes opened #194 "Paste click/touch feature for URLs"
Hi, excuse me. Is that possible that you make it available to Paste links by right-clicking? I always have to CTRL+V shortcut for that, I can't do it only using my mouse or neither my touchscreen by long-press.

Thank you!

[2020-12-06 21:53] heniotierra commented on #194
Hey! Yes, it is!

[2020-12-06 22:45] heniotierra commented on #194
Done, it's in the master branch

[2020-12-06 22:45] #194 closed

[2020-12-06 22:45] heniotierra commented on #193
Done, it's in the master branch

[2020-12-06 22:45] #193 closed

[2020-12-06 23:05] fabianmendes commented on #194
Amazing!

[2020-12-07 04:10] fabianmendes commented on #192
I didn't say, excuse me. I could resize it! Thank you, but is there any way to hide it if it is a video...?

[2020-12-07 04:13] fabianmendes opened #195 "Playlist download all videos even with the option Audio only ON."
Hi, excuse me, when I load a youtube playlist using URL, it downloads them including videos, when it shouldn't.

[2020-12-07 04:49] heniotierra commented on #195
Ok, this is supported now. Thank you.

[2020-12-07 04:49] #195 closed

[2020-12-07 04:54] heniotierra commented on #192
I never tried this, but it's possible to set a transparency in the video layer. We could have a button somewhere for this.

[2020-12-07 14:02] fabianmendes commented on #195
You're welcome!

[2020-12-11 15:58] fabianmendes opened #196 "Trying out on RPi 3"
Hi, excuse me. I was running this on a Raspberry pi 3B+ And got this errors. I don't know.

It could be a minor issue (it's a trying out on raspberry pi 3, but it **should** work). But it's a bit interesting

[code]

![2020-12-11-104152_1360x768_scrot](https://user-images.githubusercontent.com/31230743/101925376-c839c480-3b9f-11eb-9035-757d7aa6347e.png)

[2020-12-11 16:11] heniotierra commented on #196
Hi! Maybe this is a problem in the debugger. You probably have debug option turned on. Do you also get an error when it's off? Which error?

[2020-12-12 14:43] fabianmendes commented on #196
Ok... I was replying to your message three times so far, this internet... Hahaha! Ok. I was saying:

May you please let me know _how can I do that_? Excuse me. And what do you mean when you say "an error **when it's off**? I think I've got none yet

[2020-12-12 16:38] heniotierra commented on #196
I mean if the error also occurs with the debugger off. You can find the option to turn off the debugger in Options > debug > save, and then restarting TBOPlayer.

Also, can you please send me your options file? It can be found in ~/.tboplayer/tboplayer.cfg

[2020-12-12 16:41] fabianmendes commented on #196
Sure, thanks. I will! Give me a half hour, please - thank you so much!

On Sat, Dec 12, 2020, 12:38 PM heniotierra <notifications@github.com> wrote:

[2020-12-12 17:24] Botspot opened #197 "How does the youtube search work?"
`youtube-dl` doesn't appear to have a youtube **search** feature.
It appears you can give `youtube-dl` a keyword to search for, but then it will **download** the top X results!

That's not what I want.

I only want search **results**, containing the title of the video, and the URL. How does TBOPlayer's YT search function work? Does it use youtube-dl or something else?

[2020-12-12 19:22] Botspot commented on #197
Okay update: I've made tremendous progress with youtube-dl at https://github.com/Botspot/pi-apps/issues/116#issuecomment-743803001

[2020-12-13 07:07] fabianmendes commented on #196
It was already off:
![2020-12-13-015514_1360x768_scrot](https://user-images.githubusercontent.com/31230743/102005391-70f23c00-3ce6-11eb-8ce6-37e6719a567b.png)

Here is the option file:
[code]

after changing it to on, it gives me the same error. I've open the config file twice and it's ok. I mean, debug = _off_ and _on_ respectively.

After turning _on_ to try it out. it says:  (less lines than be

[2020-12-16 17:00] Botspot commented on #197
It's about finished!
[YouTubuddy](https://github.com/Botspot/youtubuddy) is one awesome tool, and it takes TBOPlayer's search function to the next level.
![2020-12-15-220913_1920x1080_scrot](https://user-images.githubusercontent.com/54716352/102304904-3d9cf080-3f24-11eb-9d66-a7e3a75b88fb.png)

[2020-12-16 22:29] heniotierra commented on #197
Hi, @Botspot ! Now TBOPlayer uses a lib (youtube-search-python) for this, not youtube-dl. I didn't know youtube-dl had a search function. I guess I can have a look at it when I have the time. Thank you!

[2020-12-16 22:33] Botspot commented on #197
You're welcome for the info. Feel free to take a look at how YouTubuddy's bash script does it, and if you have any questions let me know.

[2020-12-18 21:03] fabianmendes commented on #196
@heniotierra any idea?

[2020-12-18 21:09] heniotierra commented on #196
Hi Fabian,

I didn't have the chance to look at it. But I will do my best to get the
time soon.

Em Sex, 18 de dez de 2020 18:04, V. Fabian T. Mendes C. <
notifications@github.com> escreveu:

[2020-12-18 21:15] fabianmendes commented on #196
Thaanks! No worries

On Dec 18, 2020 5:10 PM, "heniotierra" <notifications@github.com> wrote:

Hi Fabian,

I didn't have the chance to look at it. But I will do my best to get the
time soon.

Em Sex, 18 de dez de 2020 18:04, V. Fabian T. Mendes C. <
notifications@github.com> escreveu:

https://github.com/notifications/unsubscribe-auth/ABDKGLYSMWAPLMN4UZZLIBLSVO7UBANCNFSM4UW2VOFA

—
You are receivi

[2020-12-19 17:04] heniotierra commented on #196
Hi @fabianmendes , can you describe how to reproduce the issue? Until now I wasn't able to.

[2020-12-19 18:05] fabianmendes commented on #196
I've just ran it on rpi3 (raspberry os), and tried to use it.. That's it

On Dec 19, 2020 1:04 PM, "heniotierra" <notifications@github.com> wrote:

Hi @fabianmendes <https://github.com/fabianmendes> , can you describe how
to reproduce the issue? Until now I wasn't able to.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/KenT

[2020-12-19 18:13] heniotierra commented on #196
The error you posted in the description of the issue apparently happened when trying to include a youtube playlist. But then you're saying it doesn'y work at all? I have a Raspberry Pi 3 B, and it works just fine for me.

[2020-12-19 20:00] fabianmendes commented on #196
No, i can open it but I cant play any music. Does yours add playlists?

On Dec 19, 2020 2:13 PM, "heniotierra" <notifications@github.com> wrote:

The error you posted in the description of the issue apparently happened
when trying to include a youtube playlist. But then you're saying it
doesn'y work at all? I have a Raspberry Pi 3 B, and it works just fine for
me.

—
You are receiving this because

[2020-12-20 02:13] heniotierra commented on #196
Yes, it works normally for me, playing files from the file system or
streams.

Em Sáb, 19 de dez de 2020 17:01, V. Fabian T. Mendes C. <
notifications@github.com> escreveu:

[2020-12-20 04:01] heniotierra commented on #196
@fabianmendes For the problem shown in the issue description, I'd suggest you to chcek that `youtube-d`l was installed correctly. Try to run in the terminal:

    cat /usr/local/bin/youtube-dl

If you see nothing, that means youtube-dl isn't installed, possibly because an error occurred during installation, like youtube-dl's server's SSL certificate was out of date.

If you see `youtube-dl`'s bina

[2020-12-21 06:31] fabianmendes commented on #196
All right thanks, ill do it this next morning

On Sun, Dec 20, 2020, 12:01 AM heniotierra <notifications@github.com> wrote:

[2020-12-21 23:43] fabianmendes commented on #196
Same. But the problem was when adding a playlist and trying to add a track from the Youtube Search.  Also, after adding a track using URL, it just can't be played because of duration (I understand this like the track is not loaded yet, and it keeps like this: unplayable).
This is my _uname -a_
`Linux xyo-bridge 4.14.98-v7+ #1200 SMP Tue Feb 12 20:27:48 GMT 2019 armv7l GNU/Linux`
Here is the same l

[2020-12-22 00:12] heniotierra commented on #196
By the output from `cat /usr/local/bin/youtube-dl`, you do not have youtube-dl installed where it is expected to be.

I suggest you `apt remove` youtube-dl, because youtube-dl quickly gets out of date, which makes it eventually stop working, and the version available in the OS repository is old and the maintainers take quite some time to update it. You should instal youtube-dll directly from its o

[2021-01-26 19:27] varobw opened #198 "GPIO buttons?"
Hi! Im looking to using this as a media player with an ATEM Mini pro. Im not well versed in linux, so im not really sure what the DBUS is. Does that mean i can wire a few buttons and control pause, stop, next, etc? How would i do that?

Thanks and excuse my english!

[2021-01-26 19:41] heniotierra commented on #198
Hi @varobw !
Yes, you can do just that! [This post](https://github.com/KenT2/tboplayer/issues/92#issuecomment-294323303) explains how you can do it. If you need further help, please reach out, or reopen this thread!

[2021-01-26 19:42] #198 closed, assigned to nobody

[2021-01-26 19:57] heniotierra commented on #196
@fabianmendes I'm closing this issue thread. If you are still having this issue, please reopen it!

[2021-01-26 19:57] #196 closed

[2021-04-16 14:48] fabianmendes opened #199 "Open list doesn't download URLs"
hi, excuse me. after opening a saved CSV list or playlist.. the app doesn't load them.

[2021-04-16 15:55] fabianmendes commented on #111
How can I contribute to this for Spanish?

[2021-04-19 17:32] heniotierra commented on #111
@fabianmendes If you think you can improve the current spanish translation, you just have to follow the instructions in the orginal post.

[2021-05-05 23:15] fabianmendes commented on #199
Ok, I've just seen that it only happens when the list of videos was added as Playlist. The issue is related to Adding Tracks without their respective individual URLs. I'll create a new issue.
![2021-05-05-155605_800x480_scrot](https://user-images.githubusercontent.com/31230743/117220934-42c8e200-add6-11eb-9f8b-93215fd7fe96.png)

[2021-05-05 23:15] #199 closed, assigned to nobody

[2021-05-05 23:23] fabianmendes opened #200 "Load Youtube Playlist doesn't add their respective URLs"
And It can't be re-loaded as List, because, when you Save List, it saves them without any URL at all. You can see on #199
The good news is that it's still possible to play them as Playlist. When you Save List, and Load list then, you can't play anything because there is not any URL!

(Adding track by URL or Searching it with Youtube Browser, TBOPlayer Add the tracks' URL. When it is added as a You

[2021-05-06 00:01] heniotierra commented on #199
Hi Fabian.  You may find out that the sabe playlist fraturei is not very
useful for youtube videos cause the URLs saved are actually temporary. If
you try to access it some time later, It will fial tô load.

Em qua, 5 de mai de 2021 20:16, V. Fabian T. Mendes C. <
***@***.***> escreveu:

[2021-05-06 14:23] fabianmendes commented on #199
Hi @heniotierra thanks for the reply ! All right, thanks to know. I'll update #200 issue soon (I sadly wonder that) so I was thinking if we can add on the code something that could read videos ' URLs from playlist URL via **scrapping**. I'll try it out; the thing is that you use Python2.7 and I am not very well familiarized with it!

[2021-05-06 14:43] heniotierra commented on #199
No need for scrapping, that's unnecessary work. For this to work, we should just keep the original URL - which we discard as of now - in memory, and upon saving the playlist, use that instead of the downloaded URL. Then, when loading the playlist, use the ytdl object to fetch the media URLs.

[2021-05-06 15:10] fabianmendes commented on #199
Ooh I get it, Instead of Saving a list of Tracks, we save the Playlistlist instead, right? but, How can we let know TBOPlayer python code when saving only the playlist URL and not tracks (because it will save tracks without HTTP URL on it)/

[2021-06-24 19:22] fabianmendes commented on #200
I want to help to improve Save List or getting  the tracks URLs fro YouTube playlist :$

[2021-06-25 13:59] heniotierra commented on #200
@fabianmendes Ok, I'll help you with some pointers.

[2021-06-25 22:45] heniotierra commented on #200
@fabianmendes Ok, I thought about this, and the easiest way to implement this feature would be by modifying the ["Add youtube playlist" dialog](https://github.com/KenT2/tboplayer/blob/d07f72c5b507f6b65f735162f5b784ed6ab520e8/tboplayer.py#L2049) adding a "Save playlist to file" checkbox. If the user ticks the checkbox, this will enable a second text field labeled "File name" that would allow the us

[2021-06-25 23:28] heniotierra commented on #200
@fabianmendes

In TBOPlayer's [_open_list](https://github.com/KenT2/tboplayer/blob/d07f72c5b507f6b65f735162f5b784ed6ab520e8/tboplayer.py#L1715
) method, you can see that it considers each line has two [columns](https://github.com/KenT2/tboplayer/blob/d07f72c5b507f6b65f735162f5b784ed6ab520e8/tboplayer.py#L1726)

[2021-06-26 05:26] fabianmendes commented on #200
Ok, I got a little lost, I've tried to follow the action of the functions and methods, I'll try again tomorrow.

Anyways, I didn't get very well how the playlist is read, I saw that a track with URL HTTP link reading is very similar. but, how does the program put the tracks from a playlist youtube loaded can turn on the list? I'm trying to aim at how tracks are listed in the TBOplayer and how are

[2021-06-26 17:04] heniotierra commented on #200
FIrst of all, about my suggestion, I thought of an improvement:

Instead of adding both the checkbox and a second text field, only add the checkbox, and after the user clicked "OK", if the user ticked the checkbox, then open tikinter's file dialog for saving the file (as seen [here](https://github.com/KenT2/tboplayer/blob/d07f72c5b507f6b65f735162f5b784ed6ab520e8/tboplayer.py#L1752)).

Now, to your

[2021-07-02 16:58] fabianmendes commented on #200
I was having so many troubles debugging it. Getting errors from dependencies (I installed all of them properly but finally, I got an error from them unfixable. What do you suggest to me? I use Pycharm editor.

Otherwise, as everything is in python 2.7, some dependencies are only for python 2.7; so is that why it can't be converted to Python 3 right?

[2021-07-02 18:23] heniotierra commented on #200
It can be converted to Python 3. The reason I decided to drop the Python 3 port is because it wasn't 100% working, and the development for omxplayer was discotinued, so if the software that's the base of TBOPlayer is now discotinued, there's not much reason to invest lots of efforts in a Python 3 port. Unless we modify TBOPlayer's dependency on omxplayer and make it use vlc or some other software.

[2021-07-02 19:55] fabianmendes commented on #200
Oh, Ok I get it, nice. Alright, got it!
 ~V. Fabian T· Mendes C.

El vie, 2 jul 2021 a las 14:23, heniotierra ***@***.***>)
escribió:

[2021-07-02 19:57] heniotierra commented on #200
Which dependencies are you having problems with? And which errors? I don't think I can be much of a help if you added some new dependency that's causing errors.

[2021-07-02 20:07] fabianmendes commented on #200
urllibs, error from importing "Request"
 :L
 ~V. Fabian T· Mendes C.

El vie, 2 jul 2021 a las 15:57, heniotierra ***@***.***>)
escribió:

[2021-07-02 20:26] heniotierra commented on #200
What does `sudo apt-get -y install python-requests` give you?

[2021-07-02 21:45] fabianmendes commented on #200
python-requests is on its latest version (2.21.0-1)

2021-07-02 16:26 GMT-04:00, heniotierra ***@***.***>:

--

 ~V. Fabian T· Mendes C.

[2021-10-25 02:31] Botspot opened #201 "Fails to install on Bullseye due to python2 deps"
We at [Pi-Apps](https://github.com/Botspot/pi-apps) have been receiving many error reports similar to this one.
[code]
Bullseye is the future, and more people are switching to it every day. Apps that can't run on Bullseye will eventually be removed from Pi-Apps.

[2021-10-29 14:06] Botspot commented on #201
Any input, @heniotierra? We are receiving these reports more and more frequently.

[2021-11-14 22:18] Botspot commented on #201
Unfortunately, I've been forced to remove TBOPlayer from Pi-Apps. :(

[2021-11-14 22:18] #201 closed, assigned to nobody

[2021-11-14 22:19] Botspot commented on #201
@heniotierra, let me know if TBOPlayer will be changed to run on python3 dependencies.